<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Forms dashboard</title>
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .myScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .obsExtract {
            background-color: #ebcccc;
        }


    </style>

    <script>
        angular.module("formsApp",['ui.bootstrap','ngStorage','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("formsApp").constant("moment", moment);
        angular.module("formsApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/dashboardCtrl.js"></script>
    <script src="js/formsService.js"></script>
    <script src="js/editItemCtrl.js"></script>
    <script src="js/editQCtrl.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/designerCtrl.js"></script>
    <script src="js/designerSvc.js"></script>
    <script src="js/formRenderCtrl.js"></script>
    <script src="js/formReviewsCtrl.js"></script>
    <script src="js/qSvc.js"></script>

    <style>
        #graph {
            width: 100%;
            height: 550px;
            border: 1px solid lightgray;
        }
    </style>



</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="formsApp" ng-controller="dashboardCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5 col-sm-5">
                    <span>
                        <a class="navbar-brand" href="#">
                            CanShare Dashboard
                        </a>
                    </span>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    {{thisUserId}}

                    <!--
                    <input type='text' class="form-control" ng-model="thisUserId"/>-->
                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">

            </div>

            <div class="col-md-3 col-sm-3">


            </div>
        </div>
    </nav>

    <uib-tabset>
        <!--
        <uib-tab heading="Designer">
            <br/>

                <div ng-controller="designerCtrl">
                    <ng-include src = "'includes/designer.html'"></ng-include>
                </div>
        </uib-tab>
-->
        <uib-tab heading="Questionnaire resources">
            <br/>
            <div class="row">
               <div class="col-md-2">
                       <div class="list-group">
                           <div ng-class="{'list-group-item':true,'listItemSelected':Q.id == selectedQ.id}"
                                style="cursor: pointer"
                                ng-click="selectQ(Q)"
                                ng-repeat="Q in allQ">
                               {{Q.name}}
                           </div>
                       </div>

                       <button class="btn btn-link"
                               ng-click="newQ()">
                           New Questionnaire
                       </button>

                       <div ng-show="treeData && input.dirty">
                           <button class="btn btn-link"
                                   ng-click="updateQ()">
                               Update Q
                           </button>
                       </div>



                   </div>
               <div class="col-md-10">

                       <button class="btn btn-primary pull-right" ng-show="input.dirty" ng-click="updateQ()">Update Q</button>

                       <uib-tabset ng-show="treeData">

                           <uib-tab heading="Q Items tree">


                               <div class="row">
                                   <div class="col-md-5">
                                       <div class="pull-right">
                                           <button class="btn btn-link" ng-click="expandAll()">Expand all</button>
                                           <button class="btn btn-link" ng-click="showSection()">Show sections</button>
                                       </div>
                                       <div class="clearfix"></div>
                                       <div class="myScroll">
                                           <div id="designTree"></div>
                                       </div>


                                   </div>
                                   <div class="col-md-7">

                                       <uib-tabset>

                                           <uib-tab heading="Details">

                                               <div ng-show = "selectedNode">

                                                   <div class="row">
                                                       <div class="col-md-9">
                                                           <H4>Element: {{selectedNode.data.item.text}}</H4>
                                                       </div>
                                                       <div class="col-md-3">
                                                           <div ng-show="selectedNode.data.item.repeats">
                                                               <div class="alert alert-danger pull-right">
                                                                   <strong>Element can repeat</strong>
                                                               </div>

                                                           </div>
                                                       </div>
                                                   </div>


                                                   <div class="row">
                                                       <div class="col-md-3">
                                                           LinkId
                                                       </div>
                                                       <div class="col-md-9">

                                                           {{selectedNode.data.item.linkId}}
                                                       </div>
                                                   </div>

                                               <div class="row">
                                                   <div class="col-md-3">
                                                       Type
                                                   </div>
                                                   <div class="col-md-9">

                                                       {{selectedNode.data.item.type}}
                                                   </div>
                                               </div>
                                               <div class="row">
                                                   <div class="col-md-3"  ng-show= "selectedNode.data.item.code">
                                                       Code
                                                   </div>
                                                   <div class="col-md-9">
                                                       <div ng-repeat = "coding in selectedNode.data.item.code">
                                                           {{coding.code}}
                                                           <span style="padding-left: 20px">({{coding.display}})</span>
                                                           <span style="padding-left: 40px">{{coding.system}}</span>
                                                       </div>

                                                   </div>
                                               </div>
                                               <div class="row" ng-show="selectedNode.data.item.answerValueSet">
                                                   <div class="col-md-3">
                                                       ValueSet
                                                   </div>
                                                   <div class="col-md-9">
                                                       {{selectedNode.data.item.answerValueSet}}
                                                   </div>
                                               </div>
                                               <div class="row" ng-show="selectedNode.data.item.answerOption">
                                                   <div class="col-md-3">
                                                       Coded options
                                                   </div>
                                                   <div class="col-md-9">
                                                       {{selectedNode.data.item.answerOption.length}} options in Q
                                                   </div>
                                               </div>

                                               <div class="row" ng-show="selectedNode.data.item.enableWhen">
                                                   <div class="col-md-3">
                                                       Conditionals
                                                   </div>
                                                   <div class="col-md-9">
                                                       <div ng-repeat="ew in selectedNode.data.item.enableWhen">
                                                           {{ew.question}} = {{ew.answerCoding.code}}
                                                       </div>
                                                   </div>
                                               </div>

                                               <div class="row" ng-show="selectedNode.data.meta.usageNotes">
                                                   <div class="col-md-3">
                                                       Usage Notes
                                                   </div>
                                                   <div class="col-md-9">
                                                       {{selectedNode.data.meta.usageNotes}}
                                                   </div>
                                               </div>

                                               <div class="row" ng-show="selectedNode.data.meta.extraction.notes">
                                                   <div class="col-md-3">
                                                       Extraction Notes
                                                   </div>
                                                   <div class="col-md-9">
                                                       {{selectedNode.data.meta.extraction.notes}}
                                                   </div>
                                               </div>

                                               <div class="row" ng-show="selectedNode.data.meta.sourceStandard">
                                                   <div class="col-md-3">
                                                       Source standard
                                                   </div>
                                                   <div class="col-md-9">
                                                       {{selectedNode.data.meta.sourceStandard}}
                                                   </div>
                                               </div>

                                               <div class="row" ng-show="selectedNode.data.item.type == 'group'">
                                                   <div class="col-md-3">
                                                       Column count
                                                   </div>
                                                   <div class="col-md-9">
                                                       {{selectedNode.data.meta.columnCount}}
                                                   </div>
                                               </div>
                                               <div class="row" ng-show="selectedNode.data.meta.column">
                                                   <div class="col-md-3">
                                                       Column number
                                                   </div>
                                                   <div class="col-md-9">
                                                       {{selectedNode.data.meta.column}}
                                                   </div>
                                               </div>
                                               <div class="row" ng-show="hashAllItems[selectedNode.data.item.linkId].dependencies.length > 0">
                                                   <div class="col-md-3">
                                                       Items dependant on this
                                                   </div>
                                                   <div class="col-md-9">
                                                       <div ng-repeat = "entry in hashAllItems[selectedNode.data.item.linkId].dependencies">
                                                           <div class="row">
                                                               <div class="col-md-6">
                                                                   {{entry.item.linkId}}
                                                               </div>
                                                               <div class="col-md-6">
                                                                   code = {{entry.ew.answerCoding.code}}
                                                                   <!--
                                                                   <div ng-repeat="ew in entry.ew">
                                                                       {{ew}}
                                                                       {{ew.question}} = {{ew.answerCoding.code}}
                                                                   </div>
                                                                   -->
                                                               </div>
                                                           </div>
                                                       </div>

                                                   </div>
                                               </div>


                                               <hr/>
                                               <div class="row">

                                                   <div class="col-md-2">
                                                       <button class="btn btn-link"
                                                               ng-click="editItem(selectedNode)">
                                                           Edit
                                                       </button>
                                                   </div>

                                                   <div class="col-md-3">
                                                       <div ng-show="selectedNode.data.level == 'root'">
                                                           <button class="btn btn-link"
                                                                   ng-click="addItem(selectedNode,'section')">
                                                               Add new section
                                                           </button>

                                                       </div>

                                                       <div ng-show="selectedNode.data.level == 'section' ">
                                                           <button class="btn btn-link"
                                                                   ng-click="addItem(selectedNode,'child')">
                                                               Add child element item
                                                           </button>

                                                       </div>


                                                       <div ng-show="selectedNode.data.level == 'child'">
                                                           <button class="btn btn-link"
                                                                   ng-click="addItem(selectedNode,'child',true)">
                                                               Add sibling element
                                                           </button>

                                                           <button class="btn btn-link"
                                                                   ng-click="addItem(selectedNode,'grandchild')">
                                                               Add grandchild element
                                                           </button>

                                                       </div>

                                                       <div ng-show="selectedNode.data.level == 'grandchild'">
                                                           <button class="btn btn-link"
                                                                   ng-click="addItem(selectedNode,'grandchild',true)">
                                                               Add GC sibling element
                                                           </button>

                                                       </div>


                                                       </div>


                                                   <div class="col-md-2">
                                                       <div ng-show="selectedNode">
                                                           <button class="btn btn-link"
                                                                   ng-click="moveUp(selectedNode)">
                                                               Move up
                                                           </button>
                                                       </div>
                                                   </div>
                                                   <div class="col-md-2">
                                                       <div ng-show="selectedNode">
                                                           <button class="btn btn-link"
                                                                   ng-click="moveDown(selectedNode)">
                                                               Move Down
                                                           </button>
                                                       </div>
                                                   </div>

                                                   <div class="col-md-2">
                                                       <div ng-show="selectedNode">
                                                           <button class="btn btn-link"
                                                                   ng-click="removeElement(selectedNode)">
                                                               Remove element
                                                           </button>
                                                       </div>
                                                   </div>
                                               </div>
                                                   <!--
                                                <hr/>
                                               <pre>{{selectedNode.data.item | json}}</pre>
-->
                                               </div>


                                           </uib-tab>

                                           <uib-tab heading="Meta">
                                               <pre>{{selectedNode.data.meta | json}}</pre>
                                               <em>Only for internal use</em>
                                           </uib-tab>

                                           <uib-tab heading="Json">
                                               <pre>{{selectedNode.data.item | json}}</pre>
                                               <em>Only for internal use</em>
                                           </uib-tab>

                                       </uib-tabset>

                                   </div>
                               </div>






                           </uib-tab>

                           <uib-tab heading="Summary">
                               <br/>
                               <ng-include src = "'includes/renderReport.html'"></ng-include>
                               <br/>
                           </uib-tab>



                           <uib-tab heading="Q metadata">
                               <br/>
                               <div class="row">
                                   <div class="col-md-2">
                                       Id
                                   </div>
                                   <div class="col-md-9">
                                       <input type="text" class="form-control" disabled = 'disabled' ng-model="selectedQ.id"/>
                                   </div>
                               </div>

                               <div class="row">
                                   <div class="col-md-2">
                                       Url
                                   </div>
                                   <div class="col-md-9">
                                       <input type="text" class="form-control"  disabled = 'disabled' ng-model="selectedQ.url"/>
                                   </div>
                               </div>

                               <div class="row">
                                   <div class="col-md-2">
                                       Title
                                   </div>
                                   <div class="col-md-9">
                                       <textarea class="form-control" ng-model="selectedQ.title"
                                        ng-change="input.dirty = true">

                                       </textarea>

                                   </div>
                               </div>

                               <div class="row">
                                   <div class="col-md-2">
                                       Description
                                   </div>
                                   <div class="col-md-9">
                                       <textarea class="form-control" ng-model="selectedQ.description"
                                                 ng-change="input.dirty = true">

                                       </textarea>

                                   </div>
                               </div>

                           </uib-tab>

                           <uib-tab heading="Form preview">

                               <div ng-controller="formsCtrl">
                                   <ng-include src = "'includes/renderFormAsTab2.html'"></ng-include>
                               </div>
                               <!--
                                                              <div class="myScroll">
                                                                  <ng-include src = "'includes/renderFormPageAsTab.html'"></ng-include>

                                                              </div>

                                                              <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
                               -->

                           </uib-tab>

                           <uib-tab ng-show = false heading="Audit">
                               <br/>
                               <uib-tabset>
                                   <uib-tab heading = "No code">
                                       <br/>
                                       <em>These items have no code, so will not be extracted as observations.
                                           This is not necessarily an error, but if you do wish extraction to occur, then
                                           the code needs to be added.</em>
                                       <br/> <br/>
                                       <table class="table">
                                           <tr ng-repeat="item in QAudit.nocode">
                                               <td>{{item.parent.text}} > {{item.item.text}} </td>
                                           </tr>
                                       </table>

                                       <br/>
                                   </uib-tab>
                                   <uib-tab heading = "No Valueset">
                                       <br/>
                                       <em>Coded items missing answerValueSet or answerOptions. These are errors that need correction.</em>
                                       <br/> <br/>
                                       <table class="table">
                                           <tr ng-repeat="item in QAudit.missingvs">
                                               <td>{{item.parent.text}} > {{item.item.text}} </td>
                                           </tr>
                                       </table>
                                       <br/>
                                   </uib-tab>
                               </uib-tabset>



                           </uib-tab>

                           <uib-tab ng-show = false heading="Report">
                               <br/>

                              <table class="table-bordered table table-condensed">
                                  <tr><th>Text</th><th>Type</th><th>Flags</th><th>Code</th><th>Coded info</th></tr>
                                  <tr ng-repeat="row in treeData">

                                      <td>
                                          <div ng-show = "row.parent == 'root'">
                                              <strong>{{row.data.item.text}}</strong>
                                          </div>
                                          <div ng-hide = "row.parent == 'root'">
                                              {{row.data.item.text}}
                                          </div>


                                      </td>
                                      <td>{{row.data.item.type}}</td>
                                      <td>
                                          <div ng-show = "row.data.item.required == true">
                                              Req.
                                          </div>
                                      </td>

                                      <td>{{row.data.item.code[0].code}} {{row.data.item.code[0].system}}</td>

                                      <td>
                                          {{row.data.item.answerValueSet}}
                                          <div ng-repeat="option in row.data.item.answerOption">
                                              {{option.valueCoding.code}} &nbsp; &nbsp; ({{option.valueCoding.display}})
                                              <span class="pull-right">{{option.valueCoding.system}}</span>
                                          </div>

                                      </td>

                                  </tr>
                              </table>
                           </uib-tab>

                           <uib-tab  heading="FSH">
                               >>todo use gofsh to convert to FSH
                           </uib-tab>


                           <uib-tab heading="Json">
                               <pre>{{selectedQ | json}}</pre>
                           </uib-tab>
                       </uib-tabset>

                   </div>
            </div>

        </uib-tab>



        <uib-tab heading="Form reviews">
            <br/>

            <div class="banner">
                Review Url: <strong>canshare.clinfhir.com?{{selectedQ.name}}</strong>
            </div>

            <div ng-controller="formReviewsCtrl">
                <ng-include src = "'includes/formReviews.html'"></ng-include>
            </div>

        </uib-tab>

        <uib-tab heading="Query server">
            <em>Query for supported resources - ? or link to Server Query - yes!</em>
        </uib-tab>

        <uib-tab heading="Provenance">
            <br/>


           <div class="row">
               <div class="col-md-3">
                   <uib-tabset>
                       <uib-tab heading="All Provenance">
                           <div class="list-group">
                               <div ng-class="{'list-group-item':true}"
                                    ng-click="selectProvenance(prov)"
                                    ng-repeat="prov in allProvenance">
                                   {{prov.id}}
                                   <div>{{prov.recorded | prettyDate}}
                                       <span class="pull-right">{{prov.recorded| age}}</span> </div>
                               </div>
                           </div>
                       </uib-tab>
                   </uib-tabset>


               </div>
               <div class="col-md-6">
                   <pre>{{selectedProvenance | json}}</pre>
               </div>
           </div>

       </uib-tab>


        <uib-tab heading="Terminology">

                <div class="row">
                    <div class="col-md-2">
                        <br/>
                        <button class="btn btn-link " ng-click="addVS()">Add VS</button>
                        <br/>
                        <div class="list-group">
                            <div ng-class="{'list-group-item':true}"
                                 ng-click="selectVS(vs)"
                                 ng-repeat="vs in input.vsList">
                                {{vs.display}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <pre>{{selectedVsItem | json}}</pre>
                                <br/>
                                <pre>{{selectedVs | json}}</pre>
                            </div>
                            <div class="col-md-6">
                                <h4>Expansion</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Enter filter text" class="form-control" ng-model="input.filter"/>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-link" ng-click="expandVS(selectedVs.url,input.filter)">Expand</button>
                                    </div>
                                </div>

                                <uib-tabset>
                                    <uib-tab heading="Json">
                                        <pre>{{expandedVs | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="List">
                                        <table class="table table-bordered table-condensed">
                                            <tr ng-repeat="concept in expandedVs.expansion.contains">
                                                <td>{{concept.code}}</td>
                                                <td>{{concept.display}}</td>
                                                <td>{{concept.system}}</td>
                                            </tr>
                                        </table>

                                    </uib-tab>

                                </uib-tabset>



                            </div>
                        </div>


                    </div>
                </div>


            </uib-tab>


        <uib-tab ng-show="false" heading="Q item library">
            <br/>
            <ul>
                <li>A collection of Q items that can be directly added to a new Q </li>
                <li>eg individual iteme (diagnosis lookup with valueset / codes set</li>
                <li>complete sections - eg TNM items</li>
                <li>? store as single 'reference' Q and the Q builder can select</li>
            </ul>


        </uib-tab>


        <uib-tab ng-show="false" heading="External services">
                <br/>
                <uib-tabset>
                    <uib-tab heading="NHI"></uib-tab>
                    <uib-tab heading="HPI"></uib-tab>
                </uib-tabset>

            </uib-tab>




        </uib-tabset>

</div>

</body>
</html>