<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Data Standard designer</title>
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .myScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .obsExtract {
            background-color: #ebcccc;
        }


         #submitGraph {
             width: 100%;
             height: 400px;
             border: 1px solid lightgray;
         }

         .hide {
             display:none;
         }


    </style>

    <script>
        angular.module("formsApp",['ui.bootstrap','ngStorage','ui.checkbox',"firebase"]).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("formsApp").constant("moment", moment);
        angular.module("formsApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

        /*
               angular.module("formsApp")
                   .factory("$exceptionHandler",  function() {
                       return function (exception, cause) {
                           //exception handling here
                           alert(exception + ".details in the console.")
                       };
                   });

               angular.module('formsApp').factory('$exceptionHandler', [function() {
                   return function myExceptionHandler(exception, cause) {

                       console.log(cause)
                       console.log(exception)
                       //$log.warn(exception, cause);
                       alert(exception)
                   };
               }]);

        window.onerror = function(message, url, linenumber) {
            alert("An unexpected error occurred: " + message + " on line " + linenumber + " for " + url);
        }
 */

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/dashboardCtrl.js"></script>
    <script src="js/formsService.js"></script>
    <script src="js/editItemCtrl.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/filters.js"></script>

    <script src="js/formsCtrl.js"></script>
    <script src="js/formReviewsCtrl.js"></script>
    <script src="js/qSvc.js"></script>
    <script src="js/newQCtrl.js"></script>
    <script src="js/exportSvc.js"></script>
    <script src="js/importSectionCtrl.js"></script>
    <script src="js/importGroupCtrl.js"></script>
    <script src="js/terminologySvc.js"></script>
    <script src="js/terminologyCtrl.js"></script>
    <script src="js/graphSvc.js"></script>
    <script src="js/vsEditorCtrl.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="directive/noSpaces.js"></script>

    <script src="js/qManagementCtrl.js"></script>
    <!--  <script src="js/dispositionCtrl.js"></script> -->

    <script src="js/loginCtrl.js"></script>
    <script src="js/modalDialogSvc.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDG1ToLHycsMUX0CfX0OZVSRUUpFQeKE9o",
            authDomain: "canshare-730e6.firebaseapp.com",
            projectId: "canshare-730e6",
            storageBucket: "canshare-730e6.appspot.com",
            messagingSenderId: "12147821347",
            appId: "1:12147821347:web:5963d577cb050259475a96"
        };
        if (firebase) {
            console.log('init firebase')
            firebase.initializeApp(firebaseConfig);

        }
    </script>


</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="formsApp" ng-controller="dashboardCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-6 col-sm-6">
                    <span>
                        <a class="navbar-brand" href="#">
                            Data Standard designer<span ng-show="selectedQ">:</span> {{selectedQ.name}}
                        </a>
                    </span>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">

                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>



            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    <button class="btn btn-link" ng-click="input.togglePane()">Toggle data standard list</button>
                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text " ng-hide="user">
                    <span style="font-size:1.2em; cursor: pointer" uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="navbar-text " class=" pull-right"  ng-show="user">
                    <span style="font-size:1.2em;  cursor: pointer" uib-popover="{{user.email}}"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="logout()">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </div>
                    </span>
                </div>

            </div>

            <div class="col-md-1 col-sm-1">

                <a target="_blank"
                   href="https://docs.google.com/document/d/1ORjWXOCwrE8CqolB3rH3HC5J49DyphxG1q9hgjQcE2A/edit?usp=sharing">
                    <i class="glyphicon glyphicon-question-sign navbar-text">  </i>
                </a>

            </div>
        </div>
    </nav>

    <uib-tabset>

        <uib-tab heading="Questionnaire resources">
            <br/>
            <div class="row">
                <div ng-class="input.leftPane">

                    <div class="row">
                        <div class="col-md-4">
                            <div style="margin-top: 6px">Folder</div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="input.selectedFolderTag"
                                    ng-change = "selectTag(input.selectedFolderTag)"
                                    ng-options = "coding.code for coding in folderTags">
                            </select>
                        </div>
                    </div>
                    <br/>

                    <div class="myScroll">
                        <div class="list-group">
                            <div ng-class="{'list-group-item':true,'listItemSelected':Q.id == selectedQ.id}"
                                 style="cursor: pointer"
                                 ng-show="canShowQ(Q)"
                                 ng-click="selectQ(Q)"
                                 ng-repeat="Q in allQ">
                                {{Q.name}}
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-link"
                            ng-click="newQ()">
                        New Questionnaire
                    </button>

                    <div ng-show="treeData && input.dirty">
                        <button class="btn btn-link"
                                ng-click="updateQ()">
                            Update Q
                        </button>
                    </div>
                </div>
                <div ng-class="input.rightPane">

                    <button class="btn btn-primary pull-right" ng-show="input.dirty" ng-click="updateQ()">Update Q</button>

                    <uib-tabset ng-show="treeData">

                        <uib-tab heading="Q Items tree">

                            <div class="row">
                                <div class="col-md-5">

                                    <div class="pull-right">

                                        <a ng-show="downloadLinkQName" class="btn btn-link pull-right" download="{{downloadLinkQName}}"
                                           href="{{downloadLinkQ}}" title="{{downloadLinkQName}}" >
                                            Download Q
                                        </a>


                                        <button class="btn btn-link" ng-click="expandAll()">Expand all</button>
                                        <button class="btn btn-link" ng-click="showSection()">Show sections</button>
                                    </div>


                                    <!--
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div style="padding-top: 8px" ng-show="input.rightPane == 'col-md-12'">
                                                <strong >{{selectedQ.name}}</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <button class="btn btn-link" ng-click="expandAll()">Expand all</button>
                                                <button class="btn btn-link" ng-click="showSection()">Show sections</button>
                                            </div>
                                        </div>
                                    </div>
-->


                                    <div class="clearfix"></div>
                                    <br/>


                                    <div class="myScroll">
                                        <div id="designTree"></div>
                                    </div>


                                </div>
                                <div class="col-md-7">

                                    <uib-tabset>

                                        <uib-tab heading="Details">

                                            <div ng-show = "selectedNode">

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <H4>Element: {{selectedNode.data.item.text}}</H4>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <!--
                                                        <div ng-show="selectedNode.data.item.repeats">
                                                            <div class="alert alert-danger pull-right">
                                                                <strong>Element can repeat</strong>
                                                            </div>

                                                        </div>
                                                        -->
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.item.repeats">
                                                    <div class="col-md-3">
                                                        <strong>Item can repeat</strong>
                                                    </div>
                                                    <div class="col-md-9">

                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.hidden">
                                                    <div class="col-md-3">
                                                        <strong>Item is hidden</strong>
                                                    </div>
                                                    <div class="col-md-9">

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        LinkId
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.item.linkId}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.description">
                                                    <div class="col-md-3">
                                                        Description
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.meta.description}}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        Type
                                                    </div>
                                                    <div class="col-md-9">

                                                        {{selectedNode.data.item.type}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3"  ng-show= "selectedNode.data.item.code">
                                                        Code
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div ng-repeat = "coding in selectedNode.data.item.code">
                                                            {{coding.code}}
                                                            <span style="padding-left: 20px">({{coding.display}})</span>
                                                            <span style="padding-left: 40px">{{coding.system}}</span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row" ng-show="selectedNode.data.item.answerValueSet">
                                                    <div class="col-md-3">
                                                        ValueSet
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="clickable" ng-click="viewVS(selectedNode.data.item.answerValueSet)">
                                                            {{selectedNode.data.item.answerValueSet}}</div>
                                                        <div ng-show="selectedNode.data.meta.renderVS">
                                                            Render as {{selectedNode.data.meta.renderVS}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.item.answerOption">
                                                    <div class="col-md-3">
                                                        Answer options
                                                    </div>
                                                    <div class="col-md-9">

                                                        {{selectedNode.data.item.answerOption.length}} options in Q

                                                        <div>
                                                            <span ng-repeat = "option in selectedNode.data.item.answerOption">
                                                                {{option.valueInteger}}{{option.valueString}}
                                                                {{option.valueCoding.display}},
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.item.enableWhen">
                                                    <div class="col-md-3">
                                                        Conditional on
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div ng-repeat="ew in selectedNode.data.item.enableWhen">
                                                           <span class="clickable" ng-click="editItemFromLinkId(ew.question)"

                                                                 uib-popover="Section: {{hashAllItems[ew.question].section.text}}"
                                                                 popover-placement="right"
                                                                 popover-trigger="'mouseenter'"
                                                           >
                                                               {{ew.question}}

                                                           </span>
                                                            {{ew.operator}}

                                                            <span ng-show = "ew.answerCoding"> {{ew.answerCoding.code}} ({{ew.answerCoding.display}})</span>
                                                            <span ng-show = "ew.answerBoolean !== undefined"> {{ew.answerBoolean}}</span>
                                                            <span ng-show = "ew.answerString">{{ew.answerString}}</span>
                                                            <span ng-show = "ew.answerInteger !== undefined">{{ew.answerInteger}}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.usageNotes">
                                                    <div class="col-md-3">
                                                        Usage guide
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.meta.usageNotes}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.verification">
                                                    <div class="col-md-3">
                                                        Verification rules
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.meta.verification}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.notes">
                                                    <div class="col-md-3">
                                                        Notes
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.meta.notes}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.extraction.notes || selectedNode.data.meta.extraction.extractObservation">
                                                    <div class="col-md-3">
                                                        Extraction Notes
                                                    </div>
                                                    <div class="col-md-9">

                                                        <div ng-show="selectedNode.data.meta.extraction.extractObservation">
                                                            Extract as Observation
                                                        </div>

                                                        {{selectedNode.data.meta.extraction.notes}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.sourceStandard">
                                                    <div class="col-md-3">
                                                        Source standard
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.meta.sourceStandard}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.columnCount">
                                                    <div class="col-md-3">
                                                        Column count
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.meta.columnCount}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="selectedNode.data.meta.column">
                                                    <div class="col-md-3">
                                                        Column number
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{selectedNode.data.meta.column}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="hashAllItems[selectedNode.data.item.linkId].dependencies.length > 0">
                                                    <div class="col-md-3">
                                                        Items dependent on this
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div ng-repeat = "entry in hashAllItems[selectedNode.data.item.linkId].dependencies">
                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                         {{hashAllItems[entry.item.linkId].item.text}}
                                                                    <span class="clickable"
                                                                          ng-click="editItemFromLinkId(entry.item.linkId)"

                                                                          uib-popover="Section: {{hashAllItems[entry.item.linkId].section.text}}"
                                                                          popover-placement="right"
                                                                          popover-trigger="'mouseenter'"

                                                                    >
                                                                         ({{entry.item.linkId}})
                                                                     </span>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                                <div ng-hide="selectedNode.data.item.type == 'group'" class="row" >
                                                    <div class="col-md-3">
                                                        HISO
                                                    </div>
                                                    <div class="col-md-9">
                                                        <strong>DT:</strong> {{selectedNode.data.meta.hisoDT}}
                                                        <strong>Class:</strong> {{selectedNode.data.meta.hisoClass}}
                                                        <strong>Length:</strong> {{selectedNode.data.meta.hisoLength}}
                                                        <strong>Layout:</strong> {{selectedNode.data.meta.hisoLayout}}
                                                    </div>
                                                </div>


                                                <hr/>
                                                <div class="row">

                                                    <div class="col-md-2">
                                                        <button class="btn btn-link" ng-hide = "selectedNode.id == 'root'"
                                                                ng-click="editItem(selectedNode)">
                                                            Edit
                                                        </button>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div ng-show="selectedNode.data.level == 'root'">
                                                            <button class="btn btn-link"
                                                                    ng-click="addItem(selectedNode,'section')">
                                                                Add new section
                                                            </button>

                                                            <div>
                                                                <button class="btn btn-link"
                                                                        ng-click="importSection()">
                                                                    Import section
                                                                </button>
                                                            </div>

                                                        </div>

                                                        <div ng-show="selectedNode.data.level == 'section' ">

                                                            <button class="btn btn-link"
                                                                    ng-click="addItem(selectedNode,'child')">
                                                                Add child element item
                                                            </button>

                                                            <div>
                                                                <button class="btn btn-link"
                                                                        ng-click="addItem(selectedNode,'group')">
                                                                    Add new Group
                                                                </button>
                                                            </div>

                                                            <div>
                                                                <button class="btn btn-link"
                                                                        ng-click="importGroup(selectedNode)">
                                                                    Import Group
                                                                </button>
                                                            </div>


                                                        </div>


                                                        <div ng-show="selectedNode.data.level == 'child'">
                                                            <button class="btn btn-link"
                                                                    ng-click="addItem(selectedNode,'child',true)">
                                                                Add sibling element
                                                            </button>

                                                            <button class="btn btn-link"
                                                                    ng-click="addItem(selectedNode,'grandchild')">
                                                                Add child element
                                                            </button>

                                                        </div>

                                                        <div ng-show="selectedNode.data.level == 'grandchild'">
                                                            <button class="btn btn-link"
                                                                    ng-click="addItem(selectedNode,'grandchild',true)">
                                                                Add sibling element
                                                            </button>

                                                        </div>


                                                    </div>


                                                    <div class="col-md-2">
                                                        <div ng-show="selectedNode">
                                                            <button class="btn btn-link"
                                                                    ng-click="moveUp(selectedNode)">
                                                                Move up
                                                            </button>

                                                            <div>
                                                                <button class="btn btn-link"
                                                                        ng-click="moveDown(selectedNode)">
                                                                    Move Down
                                                                </button>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <!--
                                                    <div class="col-md-2">
                                                        <div ng-show="selectedNode">
                                                            <button class="btn btn-link"
                                                                    ng-click="moveDown(selectedNode)">
                                                                Move Down
                                                            </button>
                                                        </div>

                                                    </div>
-->
                                                    <div class="col-md-2">
                                                        <div ng-show="selectedNode">
                                                            <button class="btn btn-link"
                                                                    ng-click="removeElement(selectedNode)">
                                                                Remove element
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </uib-tab>

                                        <uib-tab heading="Meta">
                                            <pre>{{selectedNode.data.meta | json}}</pre>
                                            <em>Only for internal use</em>
                                        </uib-tab>

                                        <uib-tab heading="Json">
                                            <pre>{{selectedNode.data.item | json}}</pre>
                                            <em>Only for internal use</em>
                                        </uib-tab>

                                    </uib-tabset>

                                </div>
                            </div>


                        </uib-tab>

                        <uib-tab heading="Summaries">
                            <br/>
                            <ng-include src = "'includes/renderReport.html'"></ng-include>
                            <br/>
                        </uib-tab>

                        <uib-tab heading="Q metadata">
                            <br/>

                            <ng-include src = "'includes/qMetaData.html'"></ng-include>

                        </uib-tab>

                        <uib-tab heading="Form preview">
                            <br/>

                            <uib-tabset>

                                <uib-tab heading = "Edit">
<!--
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Patient</label>
                                            <select class="form-control"></select>
                                        </div>
                                    </div>
-->

                                    <br/>

                                    <!--
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-1">
                                            Patient
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control" ng-model="input.patient"></select>
                                        </div>
                                        <div class="col-md-1">
                                            Practitioner
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control" ng-model="input.practitioner"></select>
                                        </div>
                                    </div>
                                    <hr/>
-->
                                    <div ng-controller="formsCtrl">
                                        <ng-include src = "'includes/renderFormAsTab2.html'"></ng-include>
                                    </div>
                                </uib-tab>

                                <uib-tab heading = "Preview">
                                    <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
                                </uib-tab>
                                <uib-tab heading = "Raw form data">
                                    <pre>{{form | json}}</pre>
                                </uib-tab>
                                <uib-tab heading = "QR">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <pre>{{selectedQR | json}}</pre>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-link" ng-click="validateQR(selectedQR)">Validate</button>
                                            <pre>{{qrValidationResult | json}}</pre>

                                        </div>
                                    </div>

                                </uib-tab>

                                <uib-tab ng-show="selectedQR" heading = "Test QR submission">
                                    <button class="btn btn-link pull-right" ng-click="testSubmit()">Test submission</button>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="list-group">
                                                <div ng-class="{'list-group-item':true,listItemSelected:selectedResource.id == item.resource.id}"
                                                     ng-click = "selectResource(item)"
                                                     style="cursor: pointer"
                                                     ng-repeat = "item in extractedResources">

                                                    <span class="pull-right">
                                                        <i ng-show = "item.valid" style="color: green" class="glyphicon glyphicon-thumbs-up"></i>
                                                        <i ng-hide = "item.valid" style="color: red" class="glyphicon glyphicon-thumbs-down"></i>
                                                    </span>

                                                    {{item.resource.resourceType}}

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div id="submitGraph"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <uib-tabset ng-show="selectedResource">
                                                <uib-tab heading="Json">
                                                    <pre>{{selectedResource | json}}</pre>
                                                </uib-tab>
                                                <uib-tab heading="Validation result">
                                                    <pre>{{selectedResourceValidation | json}}</pre>

                                                </uib-tab>

                                            </uib-tabset>

                                        </div>
                                    </div>


                                </uib-tab>


                            </uib-tabset>





                        </uib-tab>



                        <uib-tab heading = "Review Url">
                            <br/>

                                <div >
                                    Review UI Url: <strong>
                                    <a target="_blank"
                                       ng-href="reviewForm.html?{{selectedQ.url}}">
                                        http://canshare.clinfhir.com/reviewForm.html?{{selectedQ.url}}
                                    </a> </strong>
                                </div>

                        </uib-tab>
                        <uib-tab heading = "HISO SpreadSheet">

                            <a ng-show="downloadLinkCsvName" class="btn btn-link pull-right" download="{{downloadLinkCsvName}}"
                               href="{{downloadLinkCsv}}" title="{{downloadLinkCsvName}}" >
                                Download CSV file
                            </a>


                            <div ng-repeat = "section in exportJsonList">
                                <h4>{{section.display}}</h4>
                                <table class="table table-bordered">
                                    <tr><th>Name</th><th>Description</th><th>Card.</th><th>Obligation</th><th>HISO specific</th><th>Data Domain</th></tr>
                                    <tr ng-repeat = "line in section.lines">
                                        <td width="10%">


                                           <div class="clickable" ng-click="editItemFromReport({item:line.item})">
                                                   {{line.name}}
                                            </div>


                                        </td>
                                       <!-- <td>{{line.category}}</td> -->
                                        <td width="15%">{{line.description}}</td>
                                        <td width="5%">{{line.cardinality}}</td>
                                        <td width="7%">{{line.obligation}}</td>
                                        <td width="35%">

                                            <strong ng-show="line.hisoDT">DT:</strong> {{line.hisoDT}}
                                            <strong ng-show="line.hisoClass">Class:</strong> {{line.hisoClass}}
                                            <strong ng-show="line.hisoLength">Length:</strong> {{line.hisoLength}}
                                            <strong ng-show="line.hisoLayout">Layout:</strong> {{line.hisoLayout}}

                                            <div>{{line.usageNotes}}</div>
                                        </td>
                                        <td>{{line.dataDomain}}</td>
                                    </tr>
                                </table>
                            </div>

                        </uib-tab>

                        <uib-tab heading="ValueSets">
                            <br/>
                            <div ng-controller="terminologyCtrl">
                                <button class="btn-link btn pull-right" data-ng-click="updateVS()">Make summary</button>

                                <table class="table table-bordered">
                                    <tr><th>Url</th><th>LinkId</th><th>Local</th><th>Copy</th><th>Remote</th></tr>
                                    <tr ng-repeat="item in arVS">
                                        <td>{{item.vsUrl}}</td>
                                        <td>
                                            <span class="clickable" ng-click="editItemFromLinkId(item.linkId)">
                                                 {{item.linkId}}
                                             </span>
                                           </td>
                                        <td>
                                            <div class="clickable" ng-click="viewVS(item.vsUrl)" >
                                                <div ng-repeat="inc in item.local.compose.include">
                                                    {{inc.system}}  {{inc.concept.length}}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <i class="clickable glyphicon glyphicon-arrow-right"></i>

                                            <div>
                                                <i class="clickable glyphicon glyphicon-arrow-left"
                                                   ng-click="downloadFromRemote(item)"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clickable" ng-click="viewVS(item.vsUrl,true)" >
                                                <div ng-repeat="inc in item.remote.compose.include">
                                                    {{inc.system}}  {{inc.concept.length}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!--
                                <div class="row" ng-repeat="item in arVS">
                                    <div class="col-md-3">
                                        {{item.vsUrl}}
                                    </div>
                                    <div class="col-md-3">
                                        <div ng-repeat="inc in item.local.compose.include">
                                            {{inc.system}}  {{inc.concept.length}}
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div ng-repeat="inc in item.remote.compose.include">
                                            {{inc.system}}  {{inc.concept.length}}
                                        </div>

                                    </div>

                                </div>

-->
                            </div>
                        </uib-tab>

                        <uib-tab heading="Validate Q">
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-link pull-right" ng-click="validateQ()">Validate</button>
                                </div>
                            </div>


                            <uib-tabset>
                                <uib-tab heading="List">
                                    <table class="table table-bordered">
                                        <tr ng-repeat = "iss in QValidation.issue">
                                            <td>{{iss.diagnostics}}</td>
                                            <td>
                                                {{iss.location[0]}}
                                            </td>
                                        </tr>
                                    </table>

                                </uib-tab>
                                <uib-tab heading="Json">
                                    <pre>{{QValidation | json}}</pre>
                                </uib-tab>
                            </uib-tabset>



                        </uib-tab>

                        <uib-tab heading="Q Json">
                            <pre>{{selectedQ | json}}</pre>
                        </uib-tab>


                    </uib-tabset>

                </div>
            </div>

        </uib-tab>

        <uib-tab heading="Form reviews">
            <br/>

            <div ng-controller="formReviewsCtrl">
                <ng-include src = "'includes/formReviews.html'"></ng-include>
            </div>

        </uib-tab>

        <uib-tab ng-show="false" heading="Provenance">
            <br/>


           <div class="row">
               <div class="col-md-3">
                   <uib-tabset>
                       <uib-tab heading="All Provenance">
                           <div class="list-group">
                               <div ng-class="{'list-group-item':true}"
                                    ng-click="selectProvenance(prov)"
                                    ng-repeat="prov in allProvenance">
                                   {{prov.id}}
                                   <div>{{prov.recorded | prettyDate}}
                                       <span class="pull-right">{{prov.recorded| age}}</span> </div>
                               </div>
                           </div>
                       </uib-tab>
                   </uib-tabset>


               </div>
               <div class="col-md-6">
                   <pre>{{selectedProvenance | json}}</pre>
               </div>
           </div>

       </uib-tab>

        <uib-tab heading="Form review dispositions">
            <br/>
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,'listItemSelected':Q.id == selectedQ.id}"
                             style="cursor: pointer"
                             ng-click="loadDispositionsForQ(Q)"
                             ng-repeat="Q in allQ">
                            {{Q.name}}
                        </div>
                    </div>

                </div>
                <div class="col-md-10">
                    <table ng-show="dispositionsForQ" class="table table-condensed table-bordered">
                        <tr><th>Reviewer</th><th>Date</th><th>Type</th><th>Comment</th><th>Disposition date</th><th>Disposition</th><th>Note</th></tr>
                        <tr ng-repeat = "item in dispositionsForQ">
                            <td>{{item.author}}</td>
                            <td>{{item.authored | date : 'dd-MMM-yyyy'}}</td>
                            <td>{{item.linkId}}</td>
                            <td>{{item.comment}}</td>
                            <td>{{item.dispositionDate | date : 'dd-MMM-yyyy'}}</td>
                            <td>{{item.disposition.display}}</td>
                            <td>{{item.note}}</td>
                        </tr>
                    </table>
                   <!-- <pre>{{dispositionsForQ | json}}</pre> -->
                </div>
            </div>


        </uib-tab>

        <uib-tab  heading="ValueSets used">



            <div ng-controller="terminologyCtrl">
                <br/>

                <ng-include src = "'includes/terminology.html'"></ng-include>

            </div>

            </uib-tab>

        <uib-tab ng-show="user.email == 'david.hay25@gmail.com'" heading = "Q Management">

                <ng-include src = "'includes/qManagement.html'"></ng-include>



        </uib-tab>


        </uib-tabset>

</div>

</body>
</html>