<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Canshare Data Standard Manager</title>
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .myScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .obsExtract {
            background-color: #ebcccc;
        }

    </style>

    <script>
        angular.module("formsApp",['ui.bootstrap','ngStorage',"firebase",'ui.checkbox','ngSanitize']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("formsApp").constant("moment", moment);
        angular.module("formsApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(http|https?|ftp|mailto|blob):/);
        }]);

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/dataStandardsCtrl.js"></script>
    <script src="js/formsService.js"></script>
    <script src="js/vsEditorCtrl.js"></script>
    <script src="js/terminologySvc.js"></script>
    <script src="js/exportSvc.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/modalDialogSvc.js"></script>

    <script src="js/formsCtrl.js"></script>

    <script src="js/viewQRCtrl.js"></script>

    <script src="js/qSvc.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/filters.js"></script>


    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <style>
        #graph {
            width: 100%;
            height: 550px;
            border: 1px solid lightgray;
        }
    </style>

<script>
    const firebaseConfig = {
        apiKey: "AIzaSyDG1ToLHycsMUX0CfX0OZVSRUUpFQeKE9o",
        authDomain: "canshare-730e6.firebaseapp.com",
        projectId: "canshare-730e6",
        storageBucket: "canshare-730e6.appspot.com",
        messagingSenderId: "12147821347",
        appId: "1:12147821347:web:5963d577cb050259475a96"
    };
    if (firebase) {
        console.log('init firebase')
        firebase.initializeApp(firebaseConfig);

    }
</script>

</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="formsApp" ng-controller="dataStandardsCtrl" class="container-fluid">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="container-fluid">
            <div class="col-md-5">
                    <span>
                        <a class="navbar-brand" href="#">
                            <!--CanShare project: Publications front page -->
                            Te Aho o Te Kahu, Cancer Control Agency Data Standards Manager
                        </a>
                    </span>
            </div>

            <div class="col-md-1">
                <div ng-show="selectedQ && input.leftPane == 'col-md-2'" class="navbar-text">
                    <button class="btn btn-link"
                            uib-popover="Hide the list of standards to give a full screen display"
                            popover-placement="left"
                            popover-trigger="'mouseenter'"
                            ng-click="input.togglePane()">Full screen</button>
                </div>

                <div ng-show="selectedQ && input.leftPane == 'hide'" class="navbar-text">
                    <button class="btn btn-link"
                            uib-popover="Display the list of standards to allow selection of a new one to view"
                            popover-placement="left"
                            popover-trigger="'mouseenter'"
                            ng-click="input.togglePane()">Show standards list</button>
                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">

                        <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>


                </form>
            </div>

            <div class="col-md-2">
                <div class="navbar-text" ng-show="selectedQ"
                     uib-popover="When checked, displays tabs with tecnnical information suitable for implementers"
                     popover-placement="left"
                     style="padding-top: 10px"
                     popover-trigger="'mouseenter'">
                    <checkbox ng-model = "input.showTechnical"></checkbox> Technical
                </div>
            </div>


            <div class="col-md-1">
                <div class="navbar-text">
                    <i class="btn btn-link glyphicon glyphicon-home clickable pull-right"
                       ng-show="selectedQ"
                       uib-popover="Display the home page, de-selecting the Data Standard"
                       popover-placement="left"
                       popover-trigger="'mouseenter'"
                       style="font-size:1.8em; cursor: pointer"
                       ng-click="goHome()"></i>
                </div>

            </div>



            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                <img width="150" height="auto" class="pull-right" src="icons/TAK-logo-midgreen.png"/>
                </a>
            </div>


        </div>
        </nav>


        <div class="row">

            <div ng-class="input.leftPane">


                <uib-accordion close-others="false">
                    <div uib-accordion-group class="panel-default" is-open="input.accordianStatus['SP']">
                        <uib-accordion-heading>
                            <span ng-click="accordianOpened('structuredpath')">Structured Pathology</span>
                        </uib-accordion-heading>

                        <H4>Select Standard to view</H4>
                    <select class="form-control" ng-model="input.selectedTag"
                        ng-options = "tag for tag in tags"></select>


                    <br/>
                    <div ng-repeat = "hisoStatus in arHisoStatus">
                        <strong>{{hisoStatus.display}}</strong>

                        <div class="list-group">
                            <div  ng-class="{'list-group-item':true,listItemSelected:Q.id == selectedQ.id}"
                                  style="cursor: pointer"
                                  ng-repeat="Q in allQ"
                                  ng-show="Q.hisoStatus == hisoStatus.code && (input.selectedTag == 'All' ||  Q.tags.indexOf(input.selectedTag) > -1)">
                                <div ng-click = "loadQ(Q)">{{Q.title}}</div>
                            </div>
                        </div>
                    </div>

                    </div>
                    <div uib-accordion-group class="panel-default" is-open="input.accordianStatus['AN']">

                        <uib-accordion-heading>
                            <span ng-click="accordianOpened('actnow')">ACT-NOW</span>
                        </uib-accordion-heading>



                        <div class="list-group">
                            <div  ng-class="{'list-group-item':true,listItemSelected:Q.id == selectedQ.id}"
                                  style="cursor: pointer"
                                  ng-repeat="Q in allActnow">
                                <div ng-click = "loadQ(Q)">{{Q.title}}</div>
                            </div>
                        </div>



                        <a target="_blank" href="http://actnow.canshare.co.nz/">Reference Implementation</a>
                    </div>
                    <div uib-accordion-group class="panel-default"  is-open="input.accordianStatus['MDM']">

                        <uib-accordion-heading>
                            <span ng-click="accordianOpened('mdm')">MDM</span>
                        </uib-accordion-heading>


                        <div class="list-group">
                            <div  ng-class="{'list-group-item':true,listItemSelected:Q.id == selectedQ.id}"
                                  style="cursor: pointer"
                                  ng-repeat="Q in allMdm">
                                <div ng-click = "loadQ(Q)">{{Q.title}}</div>
                            </div>
                        </div>

                    </div>
                </uib-accordion>

            </div>



            <div ng-class="input.rightPane">

                <div ng-show = "! selectedQ">



                    <div ng-hide="standardType">
                        <ng-include src = "'includes/dsIntroNone.html'"></ng-include>
                    </div>

                    <div ng-show="standardType == 'structuredpath'">
                        <ng-include src = "'includes/dsIntroStructuredPath.html'"></ng-include>
                    </div>

                    <div ng-show="standardType == 'mdm'">
                        <ng-include src = "'includes/dsIntroMdm.html'"></ng-include>
                    </div>

                    <div ng-show="standardType == 'actnow'">
                        <ng-include src = "'includes/dsIntroActnow.html'"></ng-include>
                    </div>


                </div>

                <div ng-show="selectedQ" class="banner">
                    <div ng-show = "hisoNumber" > HISO number: {{hisoNumber}}</div>
                    Data Standard details: {{selectedQ.title}}
                    <br/>
                    <em>{{selectedQ.description}}</em>

                </div>

                <uib-tabset  ng-show="selectedQ">

                    <uib-tab>
                        <uib-tab-heading>
                            <span>Form</span>
                        </uib-tab-heading>

                        <br/>

                        <div ng-show="input.showHelp">
                            <div class="alert alert-info">
                                This is help
                            </div>

                        </div>

                        <div ng-show="errorOO">
                            <div class="alert alert-danger">
                                <div>I'm sorry, but there was an error saving this form. The error was:</div>
                                <br/>
                                <ul>
                                    <li ng-repeat="iss in errorOO.issue">
                                        {{iss.diagnostics}}
                                    </li>
                                </ul>
                                <br/>
                                <div>Please contact support for assistance</div>

                            </div>
                        </div>




                        <div ng-show = "formState == 'complete'">
                            <div class="alert alert-success">
                                Thanks for your input. Your form and comments have been submitted.
                            </div>
                        </div>



                        <div ng-hide = "formState == 'complete' " class="row">
                            <div class="col-md-10">
                                <div class="rounded-box alert alert-warning">This tab is a representation of the Data Standard as
                                a form. It can be used to make comments by entering them in the comments
                                elements on the form. You need to enter (at least) your name in the Reviewer details
                                to the right to submit comments.
                                Click <span class="clickable" ng-click="input.togglePane()"><strong>here</strong></span> to hide/show the
                                    list of standards at the right.  Submit form when complete.
                                    <br/>
                                    <div class="text-center" style="color: red; font-weight: bold">
                                        Previous forms and comments are shown as anonymous examples. Don't include any real data in this form!
                                    </div>
                                </div>

                                <div ng-controller="formsCtrl">
                                    <ng-include src = "'includes/renderFormAsTab2.html'"></ng-include>

                                </div>
                            </div>

                            <div class="col-md-2">

                                <div ng-show="input.showTechnical" >
                                    <div  style="padding:8px; background-color: #eeeeee">
                                        <h4>Technical functions</h4>

                                        <div><button class="btn btn-link" ng-click="viewQR(formQR)">Show QR</button> </div>

                                    </div>

                                    <br/>
                                </div>

                                <div style="padding:8px; background-color: #eeeeee">

                                <h4>Reviewer details</h4>
                                <input type = text ng-model = "input.reviewerName"
                                       placeholder = "Reviewer name"
                                       class="form-control"/>
                                <div>
                                    <input type = text ng-model = "input.reviewerOrganization"
                                           placeholder = "Organisation"
                                           class="form-control"/>
                                </div>
                                <div>
                                    <input type = text ng-model = "input.reviewerEmail"
                                           placeholder = "Email"
                                           class="form-control"/>
                                </div>

                                <h5>Permissions</h5>

                                <div
                                        uib-popover="When checked, indicates that the persons name can be included in public summaries"
                                        popover-placement="left"
                                        popover-trigger="'mouseenter'"
                                        >
                                    <checkbox ng-model="input.canPublish"></checkbox> Can publish</div>
                                <div  uib-popover="When checked, the persons name can be included in Official Information Act requests"
                                      popover-placement="left"
                                      popover-trigger="'mouseenter'">
                                    <checkbox ng-model="input.includeOIA"></checkbox> Include in OIA request
                                </div>

                                <br/>
                                <div class="clickable" ng-click="prepopFromEhr()">Prepop from EHR</div>
                                <br/>
                                <div class="clickable" ng-show="formQR"
                                     ng-click="preview()">Print preview</div>

                                <br/>
                                <div>
                                    <button ng-show = "formQR"
                                            class="btn btn-danger center-block"
                                            ng-click="submitForm()">Submit feedback</button>
                                </div>

                                <br/>

                            </div>
                            </div>

                        </div>



                    </uib-tab>

                    <uib-tab heading="Tree">
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="designTree"></div>
                            </div>

                            <div class="col-md-6">
                                <uib-tabset>
                                    <uib-tab heading="Details">
                                        <table ng-show="selectedNode" class="table">
                                            <tr><td colspan="2"><strong>Structure</strong></td> </tr>
                                            <tr><td>Text</td><td>{{selectedNode.data.item.text}}</td></tr>
                                            <tr><td>LinkId</td><td>{{selectedNode.data.item.linkId}}</td></tr>
                                            <tr><td>Description</td><td>{{selectedNode.data.item.description}}</td></tr>
                                            <tr><td>Type</td><td>{{selectedNode.data.item.type}}</td></tr>
                                            <tr><td>Code</td>
                                                <td>
                                                    <div ng-repeat = "coding in selectedNode.data.item.code">
                                                        {{coding.code}}
                                                        <span style="padding-left: 20px">({{coding.display}})</span>
                                                        <span style="padding-left: 40px">{{coding.system}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-show="selectedNode.data.item.answerOption">
                                                <td>Options</td>
                                                <td>
                                                    <div>
                                                        <div ng-repeat = "option in selectedNode.data.item.answerOption">
                                                            {{option.valueInteger}}{{option.valueString}}
                                                            {{option.valueCoding.display}}
                                                           <span ng-show="option.valueCoding"> ({{option.valueCoding.code}})</span>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr ng-show="selectedNode.data.item.answerValueSet">
                                                <td>ValueSet</td>
                                                <td>
                                                    <div class="clickable"
                                                         ng-click="viewVS(selectedNode.data.item.answerValueSet)">
                                                        {{selectedNode.data.item.answerValueSet}}
                                                    </div>
                                                    <em>Viewer may not work until national terminology server available</em>
                                                </td>
                                            </tr>

                                            <tr ng-show="selectedNode.data.meta.usageNotes">
                                                <td>Usage notes</td>
                                                <td>{{selectedNode.data.meta.usageNotes}}</td>
                                            </tr>

                                            <tr ng-show="selectedNode.data.meta.verification">
                                                <td>Verification</td>
                                                <td>{{selectedNode.data.meta.verification}}</td>
                                            </tr>

                                            <tr ng-show="input.showTechnical && ( selectedNode.data.meta.extraction.notes || selectedNode.data.meta.extraction.extractObservation)">
                                                <td>Extraction Notes</td>

                                                <td>
                                                    <div ng-show="selectedNode.data.meta.extraction.extractObservation">
                                                        Extract as Observation
                                                    </div>

                                                    {{selectedNode.data.meta.extraction.notes}}
                                                </td>
                                            </tr>

                                            <tr><td colspan="2"><strong>Behaviour</strong></td> </tr>

                                            <tr ng-show="selectedNode.data.item.repeats">
                                                <td>Item can repeat</td>
                                            </tr>
                                            <tr ng-show="selectedNode.data.item.required">
                                                <td>Item is required</td>
                                            </tr>
                                            <tr ng-show="selectedNode.data.item.enableWhen.length > 0">
                                                <td>Conditional on</td>
                                                <td>
                                                    <div ng-repeat="ew in selectedNode.data.item.enableWhen">
                                               <span class="clickableDotted" ng-click="editItemFromLinkId(ew.question)"
                                                     uib-popover="{{hashAllItems[ew.question].item.text}}"
                                                     popover-placement="left"
                                                     popover-trigger="'mouseenter'">
                                                   {{ew.question}}

                                               </span>
                                                        {{ew.operator}}

                                                        <span ng-show = "ew.answerCoding"> {{ew.answerCoding.code}} ({{ew.answerCoding.display}})</span>
                                                        <span ng-show = "ew.answerBoolean !== undefined"> {{ew.answerBoolean}}</span>
                                                        <span ng-show = "ew.answerString">{{ew.answerString}}</span>
                                                        <span ng-show = "ew.answerInteger !== undefined">{{ew.answerInteger}}</span>
                                                    </div>
                                                </td>
                                            </tr>



                                        </table>

                                    </uib-tab>
                                    <uib-tab ng-show="input.showTechnical" heading="Json">
                                        <pre>{{selectedNode.data.item | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>



                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab ng-show="input.showTechnical" heading="Table">
                        <!--
                        <ng-include src="'includes/showModel.html'"></ng-include>
-->



                        <a ng-show="downloadLinkCsvName" class="btn btn-link pull-right" download="{{downloadLinkCsvName}}"
                           href="{{downloadLinkCsv}}" title="{{downloadLinkCsvName}}" >
                            Download CSV file
                        </a>


                        <div class="clearfix"></div>

                        <div class="tableFixHead">
                            <table class="table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th ng-repeat = "col in auditReportHeader">{{col}}</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in auditReport">


                                    <td ng-repeat = "col in row track by $index">
                                        {{col}}
                                    </td>
                                </tr>
                            </table>
                        </div>







                    </uib-tab>

                    <uib-tab heading="HISO data elements">
                        <br/>
                        <ng-include src="'includes/hisoTable2.html'"></ng-include>
                    </uib-tab>

                    <uib-tab ng-show="false" heading="Standard Metadata">
                        <br/>
                        <ng-include src="'includes/qMetaDataDisplay.html'"></ng-include>


                    </uib-tab>




                    <uib-tab ng-show="false" heading="Feedback provided">

                        <br/>
                        <div class="row">

                            <div class="col-md-3">
                                <strong>Type of comment</strong>
                                <div class="list-group">
                                    <div ng-class="{'list-group-item':true,listItemSelected:v==input.selectedCommentType}"
                                         ng-click = "input.selectedCommentType = v"
                                         style="cursor: pointer"
                                         ng-repeat = "(k,v) in hashDispositionsByLinkId">
                                        {{k}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-9">

                                <table ng-show="input.selectedCommentType" class="table table-condensed table-bordered">
                                    <tr><th>Comment</th><th>Disposition</th><th>Note</th></tr>
                                    <tr ng-repeat = "item in input.selectedCommentType">


                                        <td>{{item.comment}}</td>

                                        <td>{{item.disposition.display}}</td>
                                        <td>{{item.note}}</td>
                                        <!--
                                        <td>
                                            {{item.likes}}
                                            <i style="color: green" class="glyphicon glyphicon-thumbs-up" ng-click="addLike(item)"></i>
                                        </td>
                                        -->

                                    </tr>
                                </table>

                            </div>
                        </div>


                        <table ng-show="false && dispositionsForQ" class="table table-condensed table-bordered">
                            <tr><th>Type</th>Comment</th><th><th>Disposition</th><th>Note</th></tr>
                            <tr ng-repeat = "item in dispositionsForQ">

                                <td>{{item.linkId}}</td>
                                <td>{{item.comment}}</td>

                                <td>{{item.disposition.display}}</td>
                                <td>{{item.note}}</td>
                                <!--
                                <td>
                                    {{item.likes}}
                                    <i style="color: green" class="glyphicon glyphicon-thumbs-up" ng-click="addLike(item)"></i>
                                </td>
                                -->

                            </tr>
                        </table>
                    </uib-tab>


                    <uib-tab >
                        <uib-tab-heading>
                            Previous examples <span ng-show="allQRforQ.entry.length > 0" class="badge">{{allQRforQ.entry.length}}</span>
                        </uib-tab-heading>
                        <br/>
                        <div class="row">
                            <div class="col-md-2">

                                <div class="myScroll">
                                    <div class="list-group">
                                        <div ng-class="{'list-group-item':true,listItemSelected:entry.resource.id == selectedQR.id}"
                                             style="cursor: pointer"
                                             ng-click = "selectQR(entry.resource)"
                                             ng-repeat="entry in allQRforQ.entry">

                                            {{entry.resource.authored | date : "d MMM  HH:mm"}}

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-10">

                                <uib-tabset>
                                    <uib-tab heading = "Form">
                                        <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
                                    </uib-tab>
                                    <uib-tab ng-show="input.showTechnical" heading="Json">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-link pull-right"
                                                        ng-click="viewQR(selectedQR)">Extended view</button>
                                            </div>
                                        </div>

                                        <pre>{{selectedQR | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>

                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading="Documents">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div ng-click="showDocument('preface')">Preface</div>
                                    </div>

                                    <div ng-class="{'list-group-item':true}"
                                            ng-repeat = "att in objFormTemplate.attachments"
                                            ng-click="showDocumentByUrl(att.url)">
                                        {{att.title}}
                                    </div>

                                </div>




                            </div>
                            <div class="col-md-10">
                                <iframe width="100%" height = "800px" ng-src="{{selectedDocumentLocation | trustUrl}}"></iframe>

                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab ng-show="input.showTechnical" heading="HL7 v2 segments">
                       <br/>


                        <ng-include src = "'includes/v2Report.html'"></ng-include>


                    </uib-tab>

                    <uib-tab ng-show="input.showTechnical" heading="ValueSets">
                        <br/>

                        <table class="table">
                            <tr><th>Url</th><th>LinkId</th></tr>
                            <tr ng-repeat="item in vsForQ">
                                <td><div class="clickable" ng-click="viewVS(item.vsUrl)">{{item.vsUrl}}</div> </td>
                                <td>{{item.linkId}}</td>
                            </tr>
                        </table>

                        <em>ValueSets for this dataSet. ?Instead of/ as well as all the ValueSets for all ds</em>

                    </uib-tab>



                    <uib-tab ng-show="input.showTechnical" heading="Questionnaire Json">
                        <div class="row">
                            <div class="col-md-12">

                                <a ng-show="downloadLinkJsonName" class="btn btn-link pull-right" download="{{downloadLinkJsonName}}"
                                   href="{{downloadLinkJson}}" title="{{downloadLinkJsonName}}" >
                                    Download Json file
                                </a>
<!--
                                <i class="btn btn-link glyphicon glyphicon-download-alt clickable pull-right"
                                   ng-click="download(selectedQ)"></i>
-->
                            </div>
                        </div>
                        <pre>{{selectedQ | json}}</pre>

                    </uib-tab>



                </uib-tabset>

            </div>

        </div>

    </div>

</body>
</html>