<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>EHR</title>
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .myScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .obsExtract {
            background-color: #ebcccc;
        }


    </style>

    <script>
        angular.module("formsApp",['ui.bootstrap','ngStorage','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("formsApp").constant("moment", moment);
        angular.module("formsApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/ehrCtrl.js"></script>
    <script src="js/formsService.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>


    <style>
        #graph {
            width: 100%;
            height: 550px;
            border: 1px solid lightgray;
        }
    </style>



</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="formsApp" ng-controller="ehrCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5 col-sm-5">
                    <span>
                        <a class="navbar-brand" href="#">
                            CanShare sample EHR
                        </a>
                    </span>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    {{selectedPractitioner.display}}


                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">

            </div>

            <div class="col-md-3 col-sm-3">
                <div class="navbar-text">
                    <select class="form-control" ng-model = "input.selectedPatient"
                            ng-change="selectPatient()"
                            ng-options = "item.display for item in allPatients"></select>
                </div>

            </div>
        </div>
    </nav>

    <uib-tabset>

        <uib-tab heading="New form">
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group lis" style="cursor:pointer;">
                        <div ng-class="{'list-group-item':true,'listItemSelected':Q.id == selectedQ.id}"
                             ng-click="selectQ(Q)"
                             ng-repeat="Q in allQ">
                            {{Q.name}}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <br/>
                    <uib-tabset ng-show="selectedQ">
                        <uib-tab heading="Form">

                            <div class="row">
                                <div class="col-md-12" >
                                    <button ng-show = "QR" class="btn btn-danger pull-right" ng-click="submitForm()">Submit form</button>
                                </div>
                            </div>


                            <ng-include src = "'includes/renderFormPage.html'"></ng-include>



                        </uib-tab>
                        <uib-tab heading="QR">
                            <uib-tabset>
                                <uib-tab heading="Json">
                                    <pre>{{QR | json}}</pre>
                                </uib-tab>
                                <uib-tab heading="Validate">
                                    <button class="btn btn-link" ng-click=validateQR(QR)>Perform validation</button>

                                    <pre>{{qrValidationResult | json}}</pre>
                                </uib-tab>

                                <uib-tab heading="Tree of data">
                                    tree to the left, selected value to the right

                                </uib-tab>

                            </uib-tabset>



                        </uib-tab>
                        <uib-tab heading="Test resource extraction">
                            <button class="btn btn-link" ng-click=testExtraction()>Extract from QR</button>
                            <uib-tabset>
                                <uib-tab heading="Resource">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="list-group">
                                                <div ng-class="{'list-group-item':true}"
                                                     ng-click = "selectResource(item)"
                                                    ng-repeat = "item in extractedResources">

                                                    <span class="pull-right badge">{{item.OO.issue.length}}</span>
                                                    {{item.resource.resourceType}}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <uib-tabset>
                                                <uib-tab heading="Json">
                                                    <pre>{{selectedResource | json}}</pre>
                                                </uib-tab>
                                                <uib-tab heading="Validation result">
                                                    <pre>{{selectedResourceValidation | json}}</pre>

                                                </uib-tab>
                                            </uib-tabset>


                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Json">
                                    <pre>{{extractedResources | json}}</pre>
                                </uib-tab>
                            </uib-tabset>


                        </uib-tab>
                        <uib-tab heading="Questionnaire">
                            <uib-tabset>
                                <uib-tab heading="Json">
                                    <pre>{{selectedQ | json}}</pre>
                                </uib-tab>
                                <uib-tab heading="Tree">

                                    <ng-include src="'includes/showQTree.html'"></ng-include>

                                </uib-tab>
                            </uib-tabset>


                        </uib-tab>

                    </uib-tabset>





                </div>
            </div>

        </uib-tab>
        <uib-tab heading="Existing Forms">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true}"
                             ng-click="selectQR(QRItem.QR)"
                             ng-repeat="QRItem in existingQR">
                            {{QRItem.display}}
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <uib-tabset>
                        <uib-tab heading="Json">
                            <pre>{{selectedQR | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Report">

                            <div ng-repeat = "topItem in selectedQR.item">



                                <div class="row">
                                    <div class="col-md-2">
                                        <strong>{{topItem.text}}</strong>
                                    </div>

                                    <div class="col-md-4">

                                    </div>
                                </div>


                                <div ng-repeat = "item in topItem.item">
                                    <div class="row" style="padding: 8px">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-2">
                                            {{item.text}}
                                        </div>

                                        <div class="col-md-4">
                                            {{item.answer}}
                                        </div>
                                    </div>

                                </div>


                                </div>



                        </uib-tab>

                        <uib-tab heading="Extracted resources">
                            <em>Uses test extract operation - not query</em>
                            <pre>{{resourcesFromExistingQR | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Form">
                            Use the 'populate' function to generate a form view of the data.
                            or use the 'new form rendering' plus the data from the QR (setting $scope.form)



                        </uib-tab>
                    </uib-tabset>


                </div>
            </div>



        </uib-tab>
        <uib-tab heading="Query resources">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-link btn pull-right" ng-click="updateQuery()">Refresh</button>
                </div>
            </div>
            <uib-tabset>
                <uib-tab heading="Observations">
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Code</strong>
                            <div class="list-group">
                                <div class="list-group-item"
                                     ng-click="selectObservationGroup(value)"
                                     ng-repeat = "(key,value) in hashObservations ">
                                    <span class="pull-right badge">{{value.resources.length}}</span>
                                    {{value.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <strong>Table of Obs</strong>
                            <table class="table table-condensed table-bordered">
                                <tr ng-repeat = "obs in observationGroup.resources"  ng-click="input.selectedObs = obs">
                                    <td>{{obs.effectiveDateTime}}</td>
                                    <td><pre>{{obs.valueCodeableConcept}}{{obs.valueQuantity}}{{obs.valueString}}
                                    </pre></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-34">
                            <strong>Selected Obs</strong>
                            <pre>{{input.selectedObs | json}}</pre>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab heading="Json">
                    <pre>{{bundleObservations | json}}</pre>
                </uib-tab>
            </uib-tabset>





        </uib-tab>
        <uib-tab heading = "Clinical Perspective">


            continuous page list of episodes problems, meds, allergies. Can see at a glance. Clincial dashboard

        </uib-tab>
    </uib-tabset>

</div>

</body>
</html>