<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Management</title>
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <style>
        .myScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .obsExtract {
            background-color: #ebcccc;
        }


    </style>

    <script>
        angular.module("formsApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("formsApp").constant("moment", moment);
        angular.module("formsApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/managementCtrl.js"></script>



</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="formsApp" ng-controller="monitorCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5 col-sm-5">
                    <span>
                        <a class="navbar-brand" href="#">
                            Canshare: Management screen
                        </a>
                    </span>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">




                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">

            </div>

            <div class="col-md-3 col-sm-3">


            </div>
        </div>
    </nav>

        <uib-tabset>

            <uib-tab heading="Backup Logs">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Current server time: {{serverTime | date : 'MMM d H:mm' }}</h4>
                    </div>
                    <div class="col-md-6">
                        <div>Backup server Url: {{config.backup.targetServer}}</div>
                        <div>Backup interval: {{config.backup.interval/(60*60*1000)}} hour/s </div>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-3">

                        <input type="radio" ng-change="updateLog()" ng-model="input.logfilter"
                               value="last20"/> Last 20 entries
                        &nbsp; &nbsp;
                        <input type="radio" ng-change="updateLog()" ng-model="input.logfilter"
                               value="last20gt0"/> Last 20 entries > 0

                        <br/><br/>

                        <div class="list-group">
                            <div ng-class="{'list-group-item':true,listItemSelected:logItem._id == input.logItem._id}" ng-repeat="logItem in log"
                                 ng-click="selectLogItem(logItem)">
                                {{logItem.time | date : 'MMM d H:mm' }}
                                &nbsp;&nbsp;&nbsp;
                                ({{now.diff(logItem.time,'hours')}} hrs)


                                <span class="badge pull-right"
                                      ng-hide="logItem.status == 'fail'"
                                      style="background-color: #00A000">
                                    {{logItem.item.length}}
                                </span>

                                <span class="badge pull-right"
                                      ng-show="logItem.status == 'fail'"
                                      style="background-color: #c9302c">
                                    Fail
                                </span>

                            </div>
                        </div>

                        <button class="btn btn-danger" ng-click="executeBackup()">Execute backup</button>
                    </div>

                    <div class="col-md-9">

                        <div class="alert alert-danger" ng-show="backupInProgress">
                            The backup is currently in progress. Please wait until it is finished.
                        </div>

                        <uib-tabset>


                            <uib-tab heading="Log details">



                                <div class="row">
                                    <div class="col-md-6">

                                        <table class="table table-bordered">
                                            <tr><th>Type</th><th>Id</th><th>Version</th></tr>
                                            <tr ng-repeat = "item in input.logItem.item">
                                                <td>{{item.type}}</td>
                                                <td><div class="clickable" ng-click="getResource(item)">{{item.id}}</div> </td>
                                                <td>{{item.version}}</td>
                                            </tr>
                                        </table>


                                    </div>
                                    <div class="col-md-6">
                                        <div ng-show="currentResource">
                                            <em>Retrieved from main server</em>
                                            <pre>{{currentResource | json}}</pre>
                                        </div>




                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Log Json">

                                <pre>{{input.logItem | json}}</pre>
                            </uib-tab>
                        </uib-tabset>
                    </div>



                </div>

            </uib-tab>


            <uib-tab heading="Site documents">
                <div class="row">
                    <div class="col-md-2">
                        Preface Doc
                    </div>

                    <div class="col-md-10">
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1">
                                        Upload
                                    </div>

                                    <div class="col-md-3">
                                        <input type="file" id="fileUploadFileRef" />
                                    </div>

                                    <div class="col-md-3">
                                        <button class="btn btn-link" ng-click="uploadDocument(selectedDocumentId)">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <iframe width="100%" height = "800px" ng-src="{{selectedDocumentLocation}}"></iframe>
                    </div>
                </div>


            </uib-tab>



            <uib-tab heading="Pre-pop data">
                <em>Set the sample ehr pre-pop data. Perhaps multiple sets that the user can select from?</em>
                <div><em>Perhaps complete a form, then save the data in a prepop format (hash)</em></div>

                <pre>{{prepop | json}}</pre>
            </uib-tab>

            <uib-tab heading="Unreviewed comments">
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="myScroll">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>Date</th><th>Questionnaire</th><th>Status</th>
                                </tr>
                                <tr ng-repeat="row in reviewRequests">
                                    <td>
                                        <div class="clickable" ng-click="showQR(row.QR)"> {{row.date | date : 'MMM d'}}</div>
                                    </td>
                                    <td>{{row.Q}}</td>
                                    <td>{{row.status}}</td>

                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <uib-tabset>
                            <uib-tab heading="Form">
                                <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
                            </uib-tab>
                            <uib-tab heading="Json">
                                <pre>{{selectedQR | json}}</pre>
                            </uib-tab>
                        </uib-tabset>



                    </div>
                </div>




            </uib-tab>

        </uib-tabset>




</div>

</body>
</html>