<!DOCTYPE html>
<! -- subset of ehr for review form functionity -->
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Review form</title>
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .myScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .obsExtract {
            background-color: #ebcccc;
        }
        .selected {
            font-weight: bold;
        }
        .reviewStateChange {
            padding-top: 12px;
            padding-right: 20px;
        }



    </style>

    <script>
        angular.module("formsApp",['ui.bootstrap','ngStorage','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("formsApp").constant("moment", moment);
        angular.module("formsApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/reviewFormCtrl.js"></script>
    <script src="js/formsService.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/filters.js"></script>

    <script src="directive/displayFormDir.js"></script>
    <script src="directive/displayProvenanceDir.js"></script>
    <script src="js/actnowSvc.js"></script>
    <script src="js/formsCtrl.js"></script>
    <script src="js/designerSvc.js"></script>
    <script src="js/exportSvc.js"></script>
    <style>
        #graph {
            width: 100%;
            height: 550px;
            border: 1px solid lightgray;
        }
    </style>


</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="formsApp" ng-controller="reviewFormCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-7 col-sm-7">
                    <span>
                        <a class="navbar-brand" href="#">
                            Review form:  {{selectedQ.title}}
                        </a>
                    </span>

            </div>



            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>



            <div class="col-md-3 col-sm-3">
                <div class="navbar-text">
                    <select class="form-control" ng-model = "input.selectedPatient"
                            ng-change="selectPatient()"
                            ng-options = "item.display for item in allPatients"></select>
                </div>
                <div ng-show="reviewMode">
                    <div class="navbar-text">
                    <button class="btn btn-primary pull-right" ng-click="prepop()">Pre-populate</button>
                    </div>
                </div>

            </div>


            <div class="col-md-1">
                <div class="navbar-text">
                    <button ng-show = "QR && input.reviewerName && input.includeOIA && input.canPublish" class="btn btn-danger pull-right" ng-click="submitForm()">Submit form</button>
                </div>
            </div>


        </div>
    </nav>

    <div ng-show = "input.alertMsg" class="alert alert-warning" close = "closeAlert()">
        <div class="btn btn-default pull-right" style="margin-top: 1px"
                ng-click="closeAlert()"
        >Close</div>
        <div class="text-center">
            {{input.alertMsg}}
        </div>
    </div>

    <div ng-show="reviewMode">

        <div>
            <div class="row" >
                <div class="col-md-2">
                    <input type = text ng-model = "input.reviewerName"
                           placeholder = "Reviewer name"
                           class="form-control"/>
                </div>

                <div class="col-md-3">
                    <input type="radio" ng-model="input.canPublish" value="yes"/> My submission can be published
                    <div><input type="radio" ng-model="input.canPublish" value="no"/> My submission cannot be published</div>
                </div>

                <div class="col-md-4">
                    <input type="radio" ng-model="input.includeOIA" value="yes"/> My personal details can be included in OIA requests
                    <div><input type="radio" ng-model="input.includeOIA" value="no"/> My personal details should be removed from OIA requests </div>
                </div>

                <div class="col-md-3">

                    <div class="pull-right">
                          <span ng-class="{reviewStateChange:true,clickable:true,selected:reviewState == 'form'}"
                                ng-click="reviewState = 'form'">Edit form</span>

                        <span ng-class="{reviewStateChange:true,clickable:true,selected:reviewState == 'preview'}"
                              ng-click="reviewState = 'preview'">Preview</span>

                        <span ng-class="{reviewStateChange:true,clickable:true,selected:reviewState == 'model'}"
                              ng-click="reviewState = 'model'">Model</span>
                    </div>

                </div>

            </div>
        </div>
        <hr/>


        <div class="row">
            <div class="col-md-1">
                <!--
                <div><strong>Instructions</strong></div>
                <p>A representation of the datamodel as a form is shown to the right.</p>
                -->
            </div>
            <div class="col-md-10">


        <div ng-show="reviewState == 'form'">
            <div ng-controller="formsCtrl">
                <ng-include src = "'includes/renderFormAsTab2.html'"></ng-include>
            </div>
        </div>

        <div ng-show="reviewState == 'preview'">
            <em>A view of the form as it might be rendered for printing of display</em>

            <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
        </div>

        <div ng-show="reviewState == 'model'">
            <em>The complete data model</em>


            <ng-include src="'includes/showModel.html'"></ng-include>


        </div>
            </div>
        </div>

    </div>

<!--

    <uib-tabset ng-hide="reviewMode">

        <uib-tab heading="New form">
            <br/>

            <div class="row">
                <div class="col-md-1">
                    <div ng-hide="reviewMode">
                        Form
                    </div>

                </div>

                <div class="col-md-2">
                    <div ng-hide="reviewMode">
                        <select class="form-control" ng-model="input.Qcontrol"
                                ng-options = "Q.name for Q in allQ"
                                ng-change = "selectQ(input.Qcontrol)">
                        </select>
                    </div>

                </div>

                <div class="col-md-9">
                    <button ng-show = "QR" class="btn btn-danger pull-right" ng-click="submitForm()">Submit form</button>
                </div>
            </div>

            <br/>


            <div class="row">

                <div class="col-md-12">
                    <br/>
                    <uib-tabset ng-show="selectedQ">



                        <uib-tab heading = "Tabbed Form">
                            <div ng-controller="formsCtrl">
                                <ng-include src = "'includes/renderFormAsTab2.html'"></ng-include>
                            </div>
                        </uib-tab>

                        <uib-tab ng-show = "false" heading = "template">
                            <pre>{{formTemplate | json}}</pre>
                        </uib-tab>


                        <uib-tab ng-show = "false" heading="Tabbed Form">

                            <div ng-controller="formsCtrl">
                                <ng-include src = "'includes/renderFormPageAsTab.html'"></ng-include>
                            </div>


                        </uib-tab>

                        <uib-tab ng-show = "false" heading="Plain Form">

                            <div class="row">
                                <div class="col-md-12" >
                                    <button ng-show = "QR" class="btn btn-danger pull-right" ng-click="submitForm()">Submit form</button>
                                </div>
                            </div>

                            <ng-include src = "'includes/renderFormPage.html'"></ng-include>

                        </uib-tab>

                        <uib-tab heading="View as printout">
                            <em>A view of the form as it might be rendered for printing of display</em>

                            <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>

                        </uib-tab>


                        <uib-tab heading="QR">
                            <uib-tabset>
                                <uib-tab heading="Json">
                                    <pre>{{QR | json}}</pre>
                                </uib-tab>
                                <uib-tab heading="Validate">
                                    <button class="btn btn-link" ng-click=validateQR(QR)>Perform validation</button>

                                    <pre>{{qrValidationResult | json}}</pre>
                                </uib-tab>

                                <uib-tab heading="Tree of data">
                                    tree to the left, selected value to the right

                                </uib-tab>

                            </uib-tabset>

                        </uib-tab>

                        <uib-tab ng-show="false" heading="HL7 v2 message">
                            <pre>{{OML}}</pre>
                        </uib-tab>
                        <uib-tab heading="Test resource extraction">
                            <button class="btn btn-link" ng-click=testExtraction()>Extract from QR</button>
                            <uib-tabset>
                                <uib-tab heading="Resource">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="list-group">
                                                <div ng-class="{'list-group-item':true,listItemSelected:selectedResource.id == item.resource.id}"
                                                     ng-click = "selectResource(item)"
                                                     style="cursor: pointer"
                                                    ng-repeat = "item in extractedResources">

                                                    <span class="pull-right">
                                                        <i ng-show = "item.valid" style="color: green" class="glyphicon glyphicon-thumbs-up"></i>
                                                        <i ng-hide = "item.valid" style="color: red" class="glyphicon glyphicon-thumbs-down"></i>
                                                    </span>

                                                    {{item.resource.resourceType}}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <uib-tabset>
                                                <uib-tab heading="Json">
                                                    <pre>{{selectedResource | json}}</pre>
                                                </uib-tab>
                                                <uib-tab heading="Validation result">
                                                    <pre>{{selectedResourceValidation | json}}</pre>

                                                </uib-tab>

                                            </uib-tabset>


                                        </div>
                                    </div>
                                </uib-tab>

                                <uib-tab heading="Graph">
                                    <em>Todo: add graph of all resources (incl. Patient, Practitioner)</em>
                                </uib-tab>
                                
                                <uib-tab heading="Json">
                                    <pre>{{extractedResources | json}}</pre>
                                </uib-tab>
                            </uib-tabset>


                        </uib-tab>

                        <uib-tab heading="Questionnaire">
                            <uib-tabset>
                                <uib-tab heading="Json">
                                    <pre>{{selectedQ | json}}</pre>
                                </uib-tab>
                                <uib-tab heading="Tree">

                                </uib-tab>
                            </uib-tabset>
                        </uib-tab>

                    </uib-tabset>





                </div>
            </div>

        </uib-tab>
        <uib-tab ng-hide="reviewMode">
            <uib-tab-heading>Existing Forms <span ng-show="existingQR.length > 0" class="badge">{{existingQR.length}}</span> </uib-tab-heading>
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,'listItemSelected':QRItem.QR.id == selectedQR.id}"
                             ng-click="selectQR(QRItem.QR)"
                             style="cursor: pointer"
                             ng-repeat="QRItem in existingQR">
                            {{QRItem.display}}
                            <div>{{QRItem.QR.authored | prettyDate}} <span class="pull-right">{{QRItem.QR.authored | age}}</span> </div>
                            <div>QR Id: {{QRItem.QR.id}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <uib-tabset ng-show="selectedQR">


                        <uib-tab heading="Form">

                            <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>

                        </uib-tab>


                        <uib-tab ng-show="SRforQR.length > 0">
                            <uib-tab-heading>Workflow <span class="badge">{{selectedSR.length}}</span></uib-tab-heading>


                            <div class="row">
                                <div class="col-md-3">
                                    <div class="list-group">
                                        <div class="list-group-item"
                                             ng-click = "selectSRforQR(sr)"
                                             style="cursor: pointer"
                                             ng-repeat="sr in SRforQR ">
                                            {{sr.id}}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <uib-tabset>
                                        <uib-tab heading = "ServiceRequest Json">
                                            <pre>{{selectedSR | json}}</pre>
                                        </uib-tab>

                                        <uib-tab heading = "DiagnosticReports">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="list-group">
                                                        <div class="list-group-item"
                                                             ng-click = "selectSRDR(srdr)"
                                                             style="cursor: pointer"
                                                             ng-repeat="srdr in SRDRs ">
                                                            {{srdr.resource.id}}

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div ng-repeat="obs in selectedSRDR.obs">
                                                        <pre>{{obs | json}}</pre>
                                                    </div>



                                                </div>


                                            </div>

                                        </uib-tab>




                                    </uib-tabset>

                                </div>

                            </div>

                        </uib-tab>

                        <uib-tab heading="Provenance">
                            <em>This is the Provenance resource that was generated when this
                            form was saved. There should only be one at the moment.</em>

                            <displayprovenance provenance="selectedProvenance"
                                               targets = "selectedProvenanceTargets"></displayprovenance>



                        </uib-tab>

                        <uib-tab heading="QR Json">
                            <pre>{{selectedQR | json}}</pre>
                        </uib-tab>

                        <uib-tab ng-show = "false" heading="Report">

                            <div ng-repeat = "topItem in selectedQR.item">



                                <div class="row">
                                    <div class="col-md-2">
                                        <strong>{{topItem.text}}</strong>
                                    </div>

                                    <div class="col-md-4">

                                    </div>
                                </div>


                                <div ng-repeat = "item in topItem.item">
                                    <div class="row" style="padding: 8px">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-2">
                                            {{item.text}}
                                        </div>

                                        <div class="col-md-4">
                                            {{item.answer}}
                                        </div>
                                    </div>

                                </div>


                                </div>
                        </uib-tab>

                        <uib-tab ng-show = "false" heading="Extracted resources">
                            <em>Uses test extract operation - not query</em>
                            <pre>{{resourcesFromExistingQR | json}}</pre>
                        </uib-tab>

                    </uib-tabset>


                </div>
            </div>



        </uib-tab>

        <uib-tab ng-hide="reviewMode">
            <uib-tab-heading>Pathology reports <span ng-show="allDR.length > 0" class="badge">{{allDR.length}}</span></uib-tab-heading>
            <br/>

            <div class="row">
                <div class="col-md-4">
                    <table class="table table-condensed">
                        <tr><th>Date</th><th>Report</th></tr>
                        <tr ng-repeat = "dr in allDR" ng-click="selectDR(dr)" style="cursor: pointer">
                            <td width = "25%">
                                {{dr.resource.effectiveDateTime | date :  "MMM d yyyy"}}
                            </td>
                            <td>
                                {{dr.obs[0].valueString}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <pre>{{selectedDR.resource | json}}</pre>
                        </div>
                        <div class="col-md-6">
                            <pre>{{selectedDR.obs | json}}</pre>
                        </div>
                    </div>


                </div>

            </div>


        </uib-tab>
        <uib-tab ng-show="false" heading="Medication administrations">
            table of CP hierarchy to left, administrations in right
            ? separate cols for regimen & Cycle
            ? dropdown to select top level CP
            possibly other CP details
        </uib-tab>

        <uib-tab ng-hide="reviewMode" heading="CarePlans" >
            <uib-tab-heading>
                CarePlans <span class="badge">{{allCarePlans.length}}</span>
            </uib-tab-heading>
            <br/>

            <br/>
            <div class="row">
                <div class="col-md-6">
                    <table class="table-condensed table table-bordered">
                        <tr><th>Id</th><th>Title</th><th>Status</th><th>Category</th></tr>
                        <tr ng-repeat="cp in allCarePlans" ng-click="selectCP(cp)" style="cursor: pointer">
                            <td>{{cp.id}}</td>
                            <td>{{cp.title}}</td>
                            <td>{{cp.status}}</td>
                            <td>
                                <div ng-repeat="c in cp.category">
                                    <div ng-repeat="coding in c.coding">
                                        {{coding.code}} ({{coding.system}})
                                    </div>

                                </div>
                            </td>


                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <uib-tabset>
                        <uib-tab heading="CarePlan">
                            <pre>{{selectedCP | json}}</pre>
                        </uib-tab>
                        <uib-tab >
                            <uib-tab-heading>
                                Incoming references <span class="badge">{{incommingCount}}</span>
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-3">
                                    <div ng-repeat="(k,v) in hashIncomming">
                                        <strong>{{k}}</strong>
                                        <div class="list-group">
                                            <div class="list-group-item" ng-repeat="resource in v"

                                                ng-click="input.selectedIncommingResource = resource">
                                                {{resource.id}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <pre>{{input.selectedIncommingResource | json}}</pre>
                                </div>
                            </div>

                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>



        </uib-tab>
        <uib-tab ng-hide="reviewMode" heading = "Regimens">


            <div class="row">
                <div class="col-md-3">

                    <div class="list-group">
                        <div class="list-group-item"
                             ng-repeat = "(k,resource)  in allCarePlans"
                             style="cursor:pointer"
                             ng-click="getRegimenSummary(resource)"
                             ng-show="resource.resourceType == 'CarePlan' && resource.category[0].coding[0].code=='regimenCP'" >

                            <div class="list-group-item" >
                                {{resource.title}}
                                <div><em>{{resource.id}}</em></div>
                            </div>
                        </div>
                    </div>


                    <em>The ability to construct the model assumes that the bundle is conformant to
                        the IG. This can be validated.</em>
                </div>
                <div class="col-md-9">
                    <uib-tabset>
                        <uib-tab heading = "Display">


                            <table class="table table-bordered table-condensed">
                                <tr><th>Cycle</th><th>Administered medications</th><th>Cycle outcomes</th></tr>
                                <tr ng-repeat="cycle in regimenLM.cycles">
                                    <td>
                                        {{cycle.model.title}} ({{cycle.model.status}})
                                        <div>Period: {{cycle.model.period.start}} -> {{cycle.model.period.end}}</div>
                                        <div>Cycle Number: {{cycle.model.cycleNumber}}</div>
                                        <div ng-show="cycle.model.activities.length > 0">
                                            <strong>Activities</strong>
                                            <ul>
                                                <li ng-repeat="act in cycle.model.activities">
                                                    {{act.display}}
                                                    <span  class="clickable pull-right" ng-show="act.product"
                                                           ng-click="recordAdministration(act)">
                                                                Record admin
                                                            </span>
                                                </li>
                                            </ul>
                                        </div>


                                    </td>
                                    <td>
                                        <div ng-repeat="med in cycle.model.medications">

                                            {{med.period.start | date : "MMM d yyyy"}}
                                            {{med.period.start | date : "hh:mm a"}} - {{med.period.end | date : "hh:mm a"}}     {{med.drugName}} {{med.dosage}}

                                        </div>
                                    </td>
                                    <td>

                                    </td>

                                </tr>
                            </table>

                        </uib-tab>
                        <uib-tab heading = "Medication timeline view">
                            *** need to figure out creating a CarePlan from PlanDefinition
                            ? from the cycle Plan
                            based on information from the regimen plan definition create a timeline of when
                            meds are to be administered. Include given and planned.
                        </uib-tab>
                        <uib-tab heading = "Summary Json">
                            <pre>{{regimenLM | json}}</pre>
                        </uib-tab>
                    </uib-tabset>


                </div>
            </div>


        </uib-tab>


        <uib-tab ng-hide="reviewMode">
            <uib-tab-heading>Service Requests <span ng-show="allSR.length > 0" class="badge">{{allSR.length}}</span> </uib-tab-heading>
                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered table-condensed">
                            <tr ><th>SR Id</th><th>Date</th><th>Category</th><th>Status</th></tr>
                            <tr style="cursor: pointer" ng-repeat="row in allSR" ng-click="selectSR(row)">
                                <td>{{row.id}}</td>
                                <td>{{row.authoredOn | prettyDate}}</td>
                                <td>{{row.category[0].text}}</td>
                                <td>{{row.status}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <pre>{{selectedSRForList | json}}</pre>
                    </div>
                </div>

        </uib-tab>


        <uib-tab heading="Query resources" ng-show="false">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-link btn pull-right" ng-click="updateQuery()">Refresh</button>
                </div>
            </div>
            <uib-tabset>
                <uib-tab heading="Observations">
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Code</strong>
                            <div class="list-group">
                                <div class="list-group-item"
                                     ng-click="selectObservationGroup(value)"
                                     ng-repeat = "(key,value) in hashObservations ">
                                    <span class="pull-right badge">{{value.resources.length}}</span>
                                    {{value.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <strong>Table of Obs</strong>
                            <table class="table table-condensed table-bordered">
                                <tr ng-repeat = "obs in observationGroup.resources"  ng-click="input.selectedObs = obs">
                                    <td>{{obs.effectiveDateTime}}</td>
                                    <td><pre>{{obs.valueCodeableConcept}}{{obs.valueQuantity}}{{obs.valueString}}
                                    </pre></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-34">
                            <strong>Selected Obs</strong>
                            <pre>{{input.selectedObs | json}}</pre>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab heading="Json">
                    <pre>{{bundleObservations | json}}</pre>
                </uib-tab>
            </uib-tabset>





        </uib-tab>


        <uib-tab heading = "Clinical Perspective" ng-show="false">

            <div class="row" ng-repeat="dr in allDR" ng-click="select(dr)">
                <div class="col-md-6">
                    {{dr.resource.id}}

                    <div ng-repeat="obs in dr.obs">
                        {{obs.valueString}}
                    </div>

                </div>
                <div class="col-md-6">

                    <displayform patient="selectedPatient" qr="selectedQR"></displayform>

                </div>
            </div>


            <pre>{{allDR | json}}</pre>


        </uib-tab>
    </uib-tabset>

        -->

</div>

</body>
</html>