<!DOCTYPE html>
<! -- subset of ehr for review form functionity -->
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>DataSet form</title>
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .myScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .obsExtract {
            background-color: #ebcccc;
        }
        .selected {
            font-weight: bold;
        }
        .reviewStateChange {
            padding-top: 12px;
            padding-right: 20px;
        }



    </style>

    <script>
        angular.module("formsApp",['ui.bootstrap','ngStorage','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("formsApp").constant("moment", moment);
        angular.module("formsApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/reviewFormCtrl.js"></script>
    <script src="js/formsService.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/filters.js"></script>

    <script src="directive/displayFormDir.js"></script>
    <script src="directive/displayProvenanceDir.js"></script>
    <script src="js/actnowSvc.js"></script>
    <script src="js/formsCtrl.js"></script>
    <script src="js/designerSvc.js"></script>
    <script src="js/exportSvc.js"></script>
    <script src="js/vsEditorCtrl.js"></script>
    <script src="js/terminologySvc.js"></script>
    <style>
        #graph {
            width: 100%;
            height: 550px;
            border: 1px solid lightgray;
        }
    </style>


</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="formsApp" ng-controller="reviewFormCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-7 col-sm-7">
                    <span>
                        <a class="navbar-brand" href="#">
                            Canshare DataSet: Form review
                        </a>
                    </span>

            </div>



            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>



            <div class="col-md-3 col-sm-3">
                <div class="navbar-text">
                    <select class="form-control" ng-model = "input.selectedPatient"
                            ng-change="selectPatient()"
                            ng-options = "item.display for item in allPatients"></select>
                </div>
                <div ng-show="reviewMode">
                    <div class="navbar-text">
                    <button class="btn btn-primary pull-right" ng-click="prepop()">Pre-populate</button>
                    </div>
                </div>

            </div>


            <div class="col-md-1">
                <div class="navbar-text">
                    <button ng-show = "QR && input.reviewerName && input.includeOIA && input.canPublish"
                            class="btn btn-danger pull-right"
                            ng-click="submitForm()">Submit form</button>
                </div>
            </div>


        </div>
    </nav>




        <!-- if the Q is not being ballotted then it's view only-->
        <div class="row">
            <div class="col-md-2">
                <div ng-show="canMakeComments">
                    <input type = text ng-model = "input.reviewerName"
                           placeholder = "Reviewer name"
                           class="form-control"/>

                    <div>
                        <input type = text ng-model = "input.reviewerOrganization"
                               placeholder = "Organisation"
                               class="form-control"/>
                    </div>
                    <div>
                        <input type = text ng-model = "input.reviewerEmail"
                               placeholder = "Email"
                               class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div>

                    <i ng-show = "selectedQ.description" class="glyphicon glyphicon-info-sign pull-right"
                       uib-popover="{{selectedQ.description}}"
                       popover-placement="left"
                       popover-trigger="'mouseenter'"></i>

                    <h4>
                        {{selectedQ.name}}: {{selectedQ.title}}
                    </h4>

                </div>

                <div ng-show="canMakeComments">
                    <div ng-show = "input.alertMsg" class="alert alert-warning" close = "closeAlert()">
                        <div class="btn btn-default pull-right" style="margin-top: 1px"
                             ng-click="closeAlert()">Close</div>
                        <div class="text-center">
                            <strong>{{input.alertMsg}}</strong>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div ng-show="canMakeComments">
                            <input type="radio" ng-model="input.canPublish" value="yes"/> My submission can be published
                            <div><input type="radio" ng-model="input.canPublish" value="no"/> My submission cannot be published</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div ng-show="canMakeComments">
                            <input type="radio" ng-model="input.includeOIA" value="yes"/> My personal details can be included in OIA requests
                            <div><input type="radio" ng-model="input.includeOIA" value="no"/> My personal details should be removed from OIA requests </div>
                            </div>
                        </div>

                    <div class="col-md-5">

                        <div class="pull-right">
                          <span ng-class="{reviewStateChange:true,clickable:true,selected:reviewState == 'form'}"
                                ng-click="reviewState = 'form'">Edit form</span>

                            <span ng-class="{reviewStateChange:true,clickable:true,selected:reviewState == 'preview'}"
                                  ng-click="reviewState = 'preview'">Preview</span>

                            <span ng-class="{reviewStateChange:true,clickable:true,selected:reviewState == 'model'}"
                                  ng-click="reviewState = 'model'">Model</span>

                            <span ng-class="{reviewStateChange:true,clickable:true,selected:reviewState == 'showqr'}"
                                  ng-click="reviewState = 'showqr'">QR</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <hr/>

    <div ng-show="reviewMode">


        <div class="row">
            <div class="col-md-1">
                <!--
                <div><strong>Instructions</strong></div>
                <p>A representation of the datamodel as a form is shown to the right.</p>
                -->
            </div>
            <div class="col-md-10">


        <div ng-show="reviewState == 'form'">
            <div ng-controller="formsCtrl">
                <ng-include src = "'includes/renderFormAsTab2.html'"></ng-include>
            </div>
        </div>

        <div ng-show="reviewState == 'preview'">
            <em>A view of the form as it might be rendered for printing of display</em>

            <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
        </div>

        <div ng-show="reviewState == 'model'">


            <uib-tabset>
                <uib-tab heading="Tree">
                    <div class="col-md-4">
                        <div id="designTree"></div>
                    </div>
                    <div class="col-md-8">
                        <table class="table">
                            <tr><td>Text</td><td>{{selectedNode.data.item.text}}</td></tr>
                            <tr><td>Description</td><td>{{selectedNode.data.item.description}}</td></tr>
                            <tr><td>Type</td><td>{{selectedNode.data.item.type}}</td></tr>
                            <tr ng-show="selectedNode.data.item.answerOption">
                                <td>Options</td>
                                <td>
                                <div>
                                    <span ng-repeat = "option in selectedNode.data.item.answerOption">
                                        {{option.valueInteger}}{{option.valueString}}
                                        {{option.valueCoding.display}},
                                    </span>
                                </div>
                                </td>

                            </tr>

                            <tr ng-show="selectedNode.data.item.answerValueSet">
                                <td>ValueSet</td>
                                <td>
                                    <div class="clickable"
                                         ng-click="viewVS(selectedNode.data.item.answerValueSet)">
                                    {{selectedNode.data.item.answerValueSet}}
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="selectedNode.data.item.repeats">
                                <td>Item can repeat</td>
                            </tr>
                            <tr ng-show="selectedNode.data.item.required">
                                <td>Item is required</td>
                            </tr>


                        </table>
                        <!--
                        <pre>{{selectedNode.data.item | json}}</pre>
                        -->
                    </div>

                </uib-tab>
                <uib-tab heading="Form">
                    <ng-include src="'includes/showModel.html'"></ng-include>
                </uib-tab>
            </uib-tabset>

        </div>


        <div ng-show="reviewState == 'showqr'">

            <em>The QuestionnaireResponse shows the data from the form represented as a FHIR resource. This
            view is really only useful for implementers.</em>
            <br/><br/>
            <pre>{{qrFromFormsCtrl | json}}</pre>

        </div>

            </div>
        </div>

    </div>



</div>

</body>
</html>