<div>
  <div class="row">
    <div class="col-md-6">

      <br/>

      <div id="reviewTree"></div>
    </div>

    <div class="col-md-6" ng-show="selectedNode">


        <div ng-show = "selectedNode.data.item.type == 'group'">
            Expand the tree, then select the specific item to view

        </div>

        <div ng-show="selectedNode.data.item.type !== 'group'">


            <div class="banner"> {{selectedNode.data.item.text}}</div>

            <div ng-show="selectedNode ">
                <ng-include src ="'directive/renderForm/itemDetailsForTree.html'"></ng-include>
            </div>


            <!--
<hr/>
                <h5 ng-show="selectedNode.data.item">Enter example answer:</h5>
                <ng-include src ="'directive/renderForm/renderSingleItem.html'"></ng-include>
-->

            <hr/>

            <div style="padding:8px; background-color: #eeeeee">

            <div class="row" ng-show="selectedNode.data.section.reviewItem.length > 0">
                <div class = 'col-md-3'>
                    <em>Comment for this item</em>
                </div>
                <div class = 'col-md-7'>
                    <textarea class="form-control" ng-model="input.newComment"></textarea>
                </div>
                <div class = 'col-md-2'>
                    <button class="btn btn-primary"
                            ng-click="addNewComment(input.newComment,selectedNode.data.item,selectedNode.data.section.reviewItem[0])">
                        Add</button>
                </div>
            </div>

                <!--
              <uib-tab heading="Section / Group">

                <div ng-repeat="item in selectedGroup.item">
                  {{item.text}}
                </div>

                <hr/>
                <pre>{{selectedGroup | json}}</pre>

              </uib-tab>
                -->

            </div>
          <div ng-show="selectedNode.data.section.reviewItem.length > 0">
            <h5>Section comments</h5>
              <div style="padding:8px; background-color: #eeeeee">
            <div ng-repeat = "item in selectedNode.data.section.reviewItem">
              {{item.text}}
              <textarea class="form-control" rows="5" ng-model="form[item.linkId]"
                        ng-change="makeQR(item.linkId)"></textarea>
                <em>All comments for items in this section. You can edit this text directly.</em>
            </div>
          </div>
          </div>

        </div>


    </div>
  </div>






</div>