<div>

    <!-- The report  -->
    <h4>Report header</h4>
    <table class="table table-condenseed">
        <tr><td>Issued</td><td>{{reportobject.DR.issued}}</td></tr>
        <tr><td>Identifier</td>
            <td>
                <div ng-repeat="identifier in reportobject.DR.identifier">{{identifier.value}}</div>
            </td>
        </tr>
        <!--
        <tr><td>DR Id</td><td>{{reportobject.DR.id}}</td></tr>
        -->
        <tr><td>Code</td><td>{{reportobject.DR.code.text}}</td></tr>
        <tr><td>Performer</td>
            <td>
                <div ng-repeat="performer in reportobject.DR.performer">{{performer.display}}</div>
            </td>
        </tr>

    </table>

    <h4>Observations</h4>
    <table class="table ">
        <tr ng-repeat = "obs in reportobject.observations">
            <!--
            <td>{{obs.id}}</td>

            <td><div ng-repeat = "identifier in obs.identifier">{{identifier}}</div></td>
            -->
            <td><strong>{{obs.code.coding[0].code}}</strong>: </td>
            <td>{{obs.valueString}} {{obs.valueCoding.display}}

            </td>
        </tr>
    </table>


    <!--
        <pre>{{reportobject | json}}</pre>
        -->
</div>