<div>



    <uib-tabset>
        <uib-tab heading = "Table">
            <p style="margin-left: 10px" ng-bind-html="to_trusted(presentedForm)"></p>
        </uib-tab>

        <uib-tab heading = "Report">
            <!-- The report  -->
            <h4>Report header</h4>
            <table class="table table-condenseed">
                <tr><td>Issued</td><td>{{reportobject.DR.issued | date : 'medium'}} (version:{{reportobject.DR.meta.versionId}})</td></tr>

                <tr><td>Identifier</td>
                    <td>
                        <div ng-repeat="identifier in reportobject.DR.identifier">{{identifier.value}}</div>
                    </td>
                </tr>
                <!--
                <tr><td>DR Id</td><td>{{reportobject.DR.id}}</td></tr>
                -->
                <tr><td>Status</td><td>{{reportobject.DR.status}}</td></tr>
                <tr><td>Code</td><td>{{reportobject.DR.code.text}}</td></tr>
                <tr><td>Performer</td>
                    <td>
                        <div ng-repeat="performer in reportobject.DR.performer">{{performer.display}}</div>
                    </td>
                </tr>

            </table>

            <h4>Observations</h4>

            <div ng-hide="reportobject.observations.length > 0">
                There were no Observation created in this report
            </div>

            <table class="table ">
                <tr ng-repeat = "obs in reportobject.observations">
                    <!--
                    <td>{{obs.id}}</td>

                    <td><div ng-repeat = "identifier in obs.identifier">{{identifier}}</div></td>
                    -->
                    <td><strong>{{obs.code.coding[0].display}}
                        <span ng-hide="obs.code.coding[0].display">{{obs.code.coding[0].code}}</span></strong>
                        <span ng-hide="obs.code.coding">{{obs.code.text}}</span>
                        : </td>
                    <td>
                        {{obs.valueString}}
                        {{obs.valueCodeableConcept.coding[0].display}}
                        (Code: {{obs.valueCodeableConcept.coding[0].code}})

                    </td>
                </tr>
            </table>


        </uib-tab>

        <uib-tab heading = "Json">
            <em>This is a custom object containing the key resources</em>
            <pre>{{reportobject | json}}</pre>

        </uib-tab>
    </uib-tabset>


    <!--
        <pre>{{reportobject | json}}</pre>
        -->
</div>