
<!-- Renter a single item. Used in the new tabbed multi column interface-->

<div>
    <style>
        .bold {
            font-weight: bold;
        }
        .userComment  {
            background-color: #eeeeee;
        }

        .required {
            color: #c9302c;
            background-color:  white;
        }
    </style>


    <div  style="margin-bottom: 15px" ng-show="showConditional(cell,input.form)">

        <div ng-hide="cell.item.type == 'display'">
            <span ng-show="cell.item.type == 'reference'">
                <i class="btn btn-link glyphicon glyphicon-search clickable pull-right"
                   ng-click="selectResourceFromService(cell.item)"></i>
            </span>

            <div ng-hide = "cell.item.type == 'boolean'">
                <span ng-class="{bold:false,required:cell.required}">{{cell.item.text}}</span>
                <span ng-show = "cell.item.required"> * </span>
                <span ng-show = "cell.item.repeats"> <span style="color:purple">(Multiple are allowed)</span>  </span>

                <span ng-show = "cell.meta.description">
                    <i class="glyphicon glyphicon-info-sign"
                       uib-popover="{{cell.meta.description}}"
                       popover-placement="top"
                       popover-trigger="'mouseenter'"></i>
                </span>

                <span ng-show = "cell.meta.verification">
                    <i class="glyphicon glyphicon-chevron-down"
                       uib-popover="{{cell.meta.verification}}"
                       popover-placement="top"
                       popover-trigger="'mouseenter'"></i>
                </span>

            </div>

        </div>

        <div style="padding-left: 15px" ng-switch="cell.item.type">

            <div ng-switch-when="group">

            </div>

            <div ng-switch-when="dateTime">
                <input class="form-control" type="datetime-local" ng-model="input.form[cell.item.linkId]">
            </div>

            <div ng-switch-when="date">

                <p class="input-group">

                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"
                           ng-model="input.form[cell.item.linkId]" is-open="datePopup[cell.item.linkId].opened"
                           ng-change="makeQR(cell.item.linkId)"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDate(cell.item.linkId)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>

                </p>


            </div>



            <div ng-switch-when="display">
                <em>{{cell.item.text}}</em>

            </div>

            <div ng-switch-when="reference">
                <!-- references are selected from a dialog-->
                <div ng-show="input.form[cell.item.linkId]" class="rounded-box">
                    {{input.form[cell.item.linkId].display}}
                </div>



            </div>

            <div ng-switch-when="text">
                <div >

                    <textarea ng-class="{'form-control':true,userComment:cell.item.code[0].system=='http://clinfhir.com/fhir/CodeSystem/review-comment' }"
                              ng-model="input.form[cell.item.linkId]" class="form-control"
                              placeholder="{{cell.meta.placeholder}}"
                              ng-change="makeQR(cell.item.linkId)"></textarea>
                </div>


            </div>

            <div ng-switch-when="boolean">
                <checkbox ng-model="input.form[cell.item.linkId]"  ng-change="makeQR(cell.item.linkId)"></checkbox> {{cell.item.text}}
            </div>


            <div ng-switch-when="choice">

                <div ng-show = "cell.item.answerOption">

                    <div ng-show="cell.displayHint == 'radio-button' || cell.displayHint == 'radio'">

                        <span ng-repeat="option in cell.item.answerOption">

                            <input type="radio" value="{{option}}"
                                   ng-change="makeQR(cell.item.linkId)"
                                   ng-model="input.form[cell.item.linkId]"/>

                            {{option.valueCoding.display}}
                        </span>

                    </div>

                    <!-- Choice as checkboxes - https://www.npmjs.com/package/angular-bootstrap-checkbox -->

                    <div ng-show="cell.displayHint == 'check-box' ">



                        <div class="row">

                           <div class="col-md-3" ng-repeat="option in cell.item.answerOption">

                            <checkbox
                                    ng-true-value = {{option}}
                                    ng-false-value = ""
                                    ng-change = makeQR()
                                    ng-model="input.form[cell.item.linkId + '--' + $index]">

                            </checkbox>
                            {{option.valueCoding.display}}
                        </div>
                        </div>





                        <!--
                         <span ng-repeat="option in cell.item.answerOption">
                            <checkbox
                                    ng-true-value = {{option}}
                                    ng-false-value = ""
                                    ng-change = makeQR()
                                    ng-model="input.form[cell.item.linkId + '--' + $index]">

                            </checkbox>
                            {{option.valueCoding.display}}
                        </span>
                        -->



                    </div>


                    <div ng-hide="cell.displayHint == 'radio-button' || cell.displayHint == 'radio' || cell.displayHint == 'check-box'">

                        <div class="row">
                            <div class="col-md-11 col-sm-11">
                                <select class="form-control" ng-model="input.form[cell.item.linkId]"
                                        ng-change="makeQR(cell.item.linkId)"
                                        ng-options = "concept.valueCoding.display for concept in cell.item.answerOption">

                                    <option value="" disabled selected>{{cell.meta.placeholder}}</option>


                                </select>
                            </div>
                            <!--
                            <div class="col-md-1 col-sm-1">
                                <button type="button" class="btn btn-default" ng-click="clearValue(cell)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </div>
                            -->
                        </div>


                    </div>


                </div>


            <div ng-show = "cell.item.answerValueSet">

                <div class="row">
                    <div class="col-md-10">
                        <!--
                        {{cell.meta.renderVS}}
-->
                        <div ng-show = "cell.meta.renderVS == 'radio'">
                            <span ng-repeat="option in cell.meta.expandedVSOptions">
                                <input type="radio" value="{{option}}"
                                       ng-change="makeQR(cell.item.linkId)"
                                       ng-model="input.form[cell.item.linkId]"/>

                                {{option.display}}
                            </span>
                        </div>

                        <div ng-show = "cell.meta.renderVS == 'lookup'">
                            <input type="text" class = "form-control" ng-model="input.form[cell.item.linkId]"
                                   placeholder="Auto lookup after 3 characters"
                                   typeahead-min-length="3"
                                   typeahead-wait-ms="1000"
                                   typeahead-on-select="selectConcept($item, $model, $label)"
                                   uib-typeahead="opt as opt.display for opt in getConcepts($viewValue,cell.item.answerValueSet)"/>
                        </div>

                        <div ng-hide="cell.meta.renderVS == 'radio' || cell.meta.renderVS == 'lookup'">
                            <select class="form-control" ng-model="input.form[cell.item.linkId]"
                                    ng-change="makeQR(cell.item.linkId)"

                                    ng-options = "concept.display for concept in cell.item.answerOption">
                                <option value=""></option>
                            </select>
                        </div>


                        <!--  ng-options = "concept.display for concept in cell.meta.expandedVSOptions"> -->




<!--
                        <p class="input-group">
                            <input type="text" class="form-control" ng-model = "inout.vsLookup"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </p>
                        -->


                    </div>
                    <!--
                    <div class="col-md-2">
                        <button class="btn btn-link" ng-click=""></button>
                    </div>
                    -->
                </div>

                <!-- todo - is this better as a 'click to select'-->



                <div ng-hide = "cell.item.answerValueSet || cell.item.answerOption">
                    This question is a choice, but there is no ValueSet or answerOption
                </div>


            </div>



            </div>

            <!-- When there are options for an integer type...-->

            <div ng-switch-when = "integer" >

                <div ng-show = "cell.item.answerOption.length > 0">
                    <div ng-hide="cell.displayHint == 'radio-button' || cell.displayHint == 'radio'">
                        <select class="form-control" ng-model="input.form[cell.item.linkId]"
                            ng-change="makeQR(cell.item.linkId)"
                            ng-options = "value.valueInteger for value in cell.item.answerOption"/>
                    </div>

                    <div ng-show="cell.displayHint == 'radio-button' || cell.displayHint == 'radio'">

                        <span ng-repeat="option in cell.item.answerOption">

                            <input type="radio" value="{{option}}"
                                   ng-change="makeQR(cell.item.linkId)"
                                   ng-model="input.form[cell.item.linkId]"/>

                            {{option.valueInteger}}
                        </span>

                    </div>

                </div>

                <div ng-hide = "cell.item.answerOption.length > 0">
                    <input type="number"  ng-change="makeQR(cell.item.linkId)"
                           placeholder="{{cell.meta.placeholder}}"
                           ng-model="input.form[cell.item.linkId]" class="form-control"/>
                </div>

            </div>


            <div ng-switch-when = "decimal" >
                <input type="number"  ng-change="makeQR(cell.item.linkId)"
                       placeholder="{{cell.meta.placeholder}}"
                       ng-model="input.form[cell.item.linkId]" class="form-control"/>

            </div>

            <div ng-switch-when = "string" >

                <div ng-show = "cell.item.answerOption.length > 0">

                    <div ng-hide="cell.displayHint == 'radio-button' || cell.displayHint == 'radio'">
                        <select class="form-control" ng-model="input.form[cell.item.linkId]"

                            ng-change="makeQR(cell.item.linkId)"
                            ng-options = "value.valueString for value in cell.item.answerOption"/>
                    </div>

                    <div ng-show="cell.displayHint == 'radio-button' || cell.displayHint == 'radio'">

                        <span ng-repeat="option in cell.item.answerOption">

                            <input type="radio" value="{{option}}"

                                   ng-change="makeQR(cell.item.linkId)"
                                   ng-model="input.form[cell.item.linkId]"/>

                            {{option.valueString}}
                        </span>

                    </div>



                </div>
                <div ng-hide = "cell.item.answerOption.length > 0">
                    <input type="text"  ng-change="makeQR(cell.item.linkId)"
                           placeholder="{{cell.meta.placeholder}}"
                           ng-class="{'form-control':true,userComment:cell.item.code[0].system=='http://clinfhir.com/fhir/CodeSystem/review-comment' }"
                           ng-model="input.form[cell.item.linkId]" />
                </div>

            </div>


            <div ng-switch-default>
                <input type="text"  ng-change="makeQR(cell.item.linkId)"
                       placeholder="{{cell.meta.placeholder}}"
                       ng-model="input.form[cell.item.linkId]" class="form-control"/>
            </div>

        </div>
    </div>


</div>