<div>

  <style>
    .error {
      background-color: #ffafad;
    }
  </style>



  <div ng-show="unknownissues.length > 0">
    There were some issues that could not be associated with a specific resource:
    <table class="table table-bordered table-condensed">
      <tr ng-repeat = "iss in unknownissues">
        <td><pre>{{iss | json}}</pre></td>
      </tr>
    </table>
    Generally this means that no other validation will be performed until this is fixed.
  </div>


  <div ng-repeat="row in validationobject">

    <strong>{{row.resource.resourceType}}</strong>
    <span class="clickable" ng-click = "showResource(row.pos)">Show/Hide resource</span>

    <div class="row">
      <div class="col-md-12">
        <table class="table-condensed table table-bordered">
          <tr ng-repeat="iss in row.issues" ng-class="{error: iss.severity == 'error'}">
            <td>{{iss.severity}}</td>
            <td>{{iss.diagnostics}}
              <div><em>{{iss.location}}</em></div>
            </td>

          </tr>
        </table>

        <pre ng-show="input.showhide[row.pos]">{{row.resource | json}}</pre>

      </div>
      <div class="col-md-0">
      </div>
    </div>

  </div>



</div>