
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <h3 ng-show="editType == 'edit'" class="modal-title">Edit Item</h3>
                <h3 ng-show="editType == 'new'" class="modal-title">New Item</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <button class="btn btn-link pull-right" ng-click="cancel()">Cancel</button>

            </div>

        </div>

    </div>
    <div class="modal-body">



        <uib-tabset>
            <uib-tab heading="Question details">
                <br/>
                <table class="table table-condensed">
                    <tr>
                        <td>LinkId</td>
                        <td><input type="text"
                                   placeholder="A unique (in this Q) identifier for the item"
                                   ng-blur="checkUniqueLinkId(newItem.linkId)"
                                   ng-model="newItem.linkId" class="form-control"/> </td>

                    </tr>
                    <tr>
                        <td>Text</td>
                        <td><input type="text"
                                   placeholder="Text to display to the user"
                                   ng-model="newItem.text" class="form-control"/> </td>

                    </tr>

                    <tr>
                        <td>Flags</td>
                        <td>
                            <checkbox ng-model="newItem.repeats"></checkbox> Repeats
                        </td>

                    </tr>



                    <!-- If a section, then the type will be 'group'-->
                    <tr ng-hide = "insertType == 'section'">
                        <td>Type</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="newItem.type"
                                            ng-options = "itemType for itemType in input.itemTypes"></select>
                                </div>
                                <div class="col-sm-6">

                                    <div ng-show="newItem.type == 'group'">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                Column count
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <input type="text" class="form-control" ng-model="meta.columnCount"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="newItem.type == 'reference'">

                                        <div ng-repeat = "ref in meta.referenceTypes">
                                            {{ref}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>



                    <tr ng-show = "newItem.type == 'quantity'">
                        <td>Units</td>
                        <td>
                            <input class="form-control" type="text" ng-model="newItem.tmp.units"
                                   placeholder="Units (using UCUM)"/>
                            <em>Add link to UCUM or a lookup</em>
                        </td>

                    </tr>

                    <tr ng-show = "newItem.type == 'choice' || newItem.type == 'open-choice'">
                        <td>ValueSet</td>
                        <td>
                            <input class="form-control" type="text" ng-model="newItem.answerValueSet"
                                   placeholder="ValueSet url ToDo: allow select off server"/>

                        </td>
                    </tr>

                    <tr ng-hide = "newItem.type == 'display' ">
                        <td>Code</td>
                        <td>

                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" type="text" ng-model="newItem.tmp.codeCode"
                                           placeholder="Code"/>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" ng-model="newItem.tmp.codeSystem"
                                            ng-options = "system.display for system in input.codeSystems"></select>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" ng-model="newItem.tmp.codeDisplay"
                                           placeholder="Display"/>
                                </div>
                            </div>

<!--
                            <div><em>If a code is supplied, the item will be extracted as an Observation</em></div>
                            -->
                        </td>
                    </tr>

                    <tr ng-show = "newItem.enableWhen">
                        <td>Conditional</td>
                        <td>
                            <div ng-repeat = "ew in newItem.enableWhen">
                                Conditional on value of <em>{{ew.question}}</em>. Details in conditional tab.
                            </div>

                        </td>
                    </tr>

                    <tr ng-show = "meta.extraction">
                        <td>Resource extraction</td>
                        <td>
                            <div ng-show="meta.extraction.extractObservation">
                                Will be extracted as an Observation
                            </div>
                            <div ng-show="meta.extraction.notes">
                                <p>
                                    {{meta.extraction.notes}}
                                </p>
                            </div>
                        </td>
                    </tr>


                </table>


            </uib-tab>

            <uib-tab heading = "Notes">
                <br/>
                <strong>Usage Notes</strong>
                <textarea class="form-control" ng-model="meta.usageNotes">

                </textarea>

                <strong>Resource extraction Notes</strong>
                <textarea class="form-control" ng-model="meta.extraction.notes"> </textarea>

                <strong>Source Standard</strong>
                <textarea class="form-control" ng-model="meta.sourceStandard"> </textarea>


            </uib-tab>

            <uib-tab ng-show = "false" heading = "Dependencies">
                Items that have a conditional clause (enableWhen) set to this question.
            </uib-tab>

            <uib-tab ng-show="newItem.type == 'choice' || newItem.type == 'open-choice'" >
                <uib-tab-heading>Options <span class="badge">{{newItem.answerOption.length}}</span> </uib-tab-heading>
                <br/>
                <table class="table table-bordered table-condensed">
                    <tr><th>Code</th><th>System</th><th>Display</th></tr>
                    <tr ng-repeat = "option in newItem.answerOption">
                        <td>{{option.valueCoding.code}}</td>
                        <td>
                            {{option.valueCoding.system}}
                        </td>
                        <td>{{option.valueCoding.display}}</td>
                        <td>
                            <i class=" clickable glyphicon glyphicon-remove"
                               ng-click = "removeAnswerOption($index)"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" placeholder="Code" ng-model="input.newAnswerCode"/> </td>
                        <td>

                            <select class="form-control" ng-model="input.newAnswerSystem"
                                    ng-options = "system.display for system in input.codeSystems"></select>
                            <!--
                            <input type="text" class="form-control" placeholder="System" ng-model="newAnswerSystem"/>
                        -->
                        </td>
                        <td><input type="text" class="form-control" placeholder="Display" ng-model="input.newAnswerDisplay"/> </td>
                        <td>
                            <i ng-show="input.newAnswerCode"
                               class="clickable glyphicon glyphicon-plus-sign"
                               ng-click = "addAnswerOption(input.newAnswerCode,input.newAnswerSystem.url,input.newAnswerDisplay)"></i>


                    </tr>
                </table>

            </uib-tab>

            <uib-tab heading = "Conditionals">
                <pre>{{newItem.enableWhen | json}}</pre>


                <select ng-model="input.ew" class="form-control"
                        ng-options = "value.item.linkId for (key,value) in hashAllItems"></select>

            </uib-tab>

            <uib-tab ng-show = "false" heading = "Library">
                <br/>
                TBD  - allow selection from the library of items
            </uib-tab>
            <uib-tab ng-show = "false" heading = "Json">
                <br/>
                <pre>{{newItem | json}}</pre>
            </uib-tab>

        </uib-tabset>


</div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <button class="btn btn-success pull-right"
                        ng-click="save()">
                    <div ng-show="editType == 'edit'">Save changes</div>
                    <div ng-show="editType == 'new'">Add new item</div>
                </button>
            </div>
        </div>
    </div>
</div>
