
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <h3 ng-show="editType == 'edit'" class="modal-title">Edit Item: <em>{{newItem.text}}</em></h3>
                <h3 ng-show="editType == 'new'" class="modal-title">New Item</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">





                <button ng-show="newItem.text && newItem.linkId && canEdit" class="btn btn-success pull-right"
                        ng-click="save()">

                    <div ng-show="editType == 'edit'">Save changes</div>
                    <div ng-show="editType == 'new'">Add new item</div>
                </button>
                <button class="btn btn-link pull-right" ng-click="cancel()">Cancel</button>

            </div>

        </div>

    </div>
    <div class="modal-body">

        <div class="alert alert-warning" ng-show="showUpdating">
            Updating item, please wait....
        </div>


        <uib-tabset>
            <uib-tab heading="Details">
                <br/>



                <table class="table table-condensed">
                    <tr>
                        <td>Section</td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" disabled = "disabled"

                                           ng-model="sectionItem.linkId" class="form-control"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" disabled = "disabled"

                                           ng-model="sectionItem.text" class="form-control"/>
                                </div>
                            </div>


                        </td>

                    </tr>

                    <tr>
                        <td>Parent</td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" disabled = "disabled"

                                           ng-model="parent.item.linkId" class="form-control"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" disabled = "disabled"

                                           ng-model="parent.item.text" class="form-control"/>
                                </div>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>Text</td>
                        <td><input type="text" autofocus
                                   ng-change="makeLinkId(newItem.text)"
                                   placeholder="Text to display to the user"
                                   ng-model="newItem.text" class="form-control"/> </td>



                    </tr>

                    <tr>
                        <td>LinkId</td>

                        <td><input type="text" ng-disabled = "dependantOnThis.length > 0"
                                   placeholder="A unique (in this Q) identifier for the item"
                                   ng-blur="checkUniqueLinkId(newItem.linkId)"
                                   ng-model="newItem.linkId" class="form-control"/> </td>

                    </tr>


                    <tr>
                        <td>Description</td>
                        <td><textarea
                                   placeholder="Description of the item. Displayed in the UI"
                                   ng-model="meta.description" class="form-control"></textarea>
                        </td>

                    </tr>



                    <tr>
                        <td>Flags</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <checkbox ng-model="newItem.repeats"></checkbox>

                                    <span uib-popover="This element can repeat"
                                          popover-placement="top"
                                          popover-trigger="'mouseenter'">Repeats</span>


                                </div>
                                <div class="col-sm-3 col-md-3">

                                    <div ng-hide = "newItem.answerOption.length > 0">
                                        <checkbox ng-model="newItem.required"></checkbox>

                                        <span uib-popover="This is a mandatory (required) element"
                                              popover-placement="top"
                                              popover-trigger="'mouseenter'">Mandatory</span>
                                    </div>
                                    <div ng-show = "newItem.answerOption.length > 0">
                                        (Can't be mandatory as there are possible values)
                                    </div>


                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <checkbox ng-model="meta.hidden"></checkbox>

                                    <span uib-popover="This element is not shown in the form (but is present in the standard)"
                                          popover-placement="top"
                                          popover-trigger="'mouseenter'">Hidden</span>


                                </div>

                                <div class="col-sm-3 col-md-3" ng-hide="insertType == 'section'">
                                    <checkbox ng-model="meta.exclude"></checkbox>
                                    <span uib-popover="Exclude this item from the standard"
                                         popover-placement="top"
                                         popover-trigger="'mouseenter'">Exclude</span>
                                </div>
                            </div>
                        </td>

                    </tr>



                    <!-- If a section, then the type will be 'group'-->
                    <tr>
                        <td>Type</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <select ng-hide = "fixType" class="form-control" ng-model="newItem.type"
                                            ng-change = setHISODefaults(newItem.type)
                                            ng-options = "itemType for itemType in input.itemTypes"></select>

                                    <div ng-show="fixType">
                                        {{newItem.type}}
                                    </div>

                                </div>

                                <div class="col-sm-6">

                                    <div ng-show = "newItem.type == 'text' || newItem.type == 'string'" >
                                        <div class="row">
                                            <div class="col-sm-4">
                                                Placeholder text
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model = "meta.placeholder">
                                            </div>
                                        </div>

                                    </div>


                                    <div ng-show="(newItem.type == 'group' && insertType !== 'section') ||newItem.type == 'choice' ">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                Column count
                                            </div>
                                            <div class="col-sm-3 col-md-3">

                                                <select class="form-control" ng-model="meta.columnCount"
                                                        ng-options = "cnt for cnt in input.colCount">

                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="newItem.type == 'reference'">

                                        <div ng-repeat = "ref in meta.referenceTypes">
                                            {{ref}}
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-2">
                                    <button class="btn btn-link pull-right" ng-hide="fixType"
                                            ng-click="setHISODefaults(newItem.type)">Reset HISO
                                    </button>
                                </div>
                            </div>


                        </td>
                    </tr>

                    <tr ng-show = "newItem.type == 'quantity'">
                        <td>Units</td>
                        <td>
                            <input class="form-control" type="text" ng-model="newItem.tmp.units"
                                   placeholder="Units (using UCUM)"/>
                            <em>Add link to UCUM or a lookup</em>
                        </td>

                    </tr>

                    <tr ng-show = "newItem.type == 'choice' || newItem.type == 'open-choice'">
                        <td>ValueSet</td>
                        <td>
                            <div class="row">
                                <div class="col-md-1 col-sm-1">
                                    Url
                                </div>

                                <div class="col-md-9 col-sm-9">
                                    <input class="form-control" type="text" ng-model="newItem.answerValueSet"

                                           placeholder="ValueSet url"/>
                                </div>
                                <!--
                                <div class="col-md-1 col-sm-1">
                                    <button class="btn btn-link" ng-click="editVS(newItem.answerValueSet)">Edit</button>
                                </div>
                                -->

                                <div class="col-md-1 col-sm-1">
                                    <button class="btn btn-link" ng-click="viewVS(newItem.answerValueSet)">View</button>
                                </div>

                            </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1">
                                        <div style="padding-top: 6px">Render</div>
                                    </div>
                                <div class="col-md-6 col-sm-6">
                                    <div style="padding-top: 6px;padding-right: 10px">
                                        <input type="radio" ng-model="input.vs.rendermode" value="radio-button"> Radio
                                        <input type="radio" ng-model="input.vs.rendermode" value="drop-down"> Dropdown
                                        <input type="radio" ng-model="input.vs.rendermode" value="lookup"> Lookup
                                        <input type="radio" ng-model="input.vs.rendermode" value="check-box"> Checkbox
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>

                    <tr ng-hide="fixType">
                        <td>HISO</td>
                        <td>
                            <div class="row">
<!--
                                <div class="col-md-3 col-sm-3">
                                    <label>Class</label>
                                    <select class="form-control" ng-model="meta.hisoClass"
                                            ng-options = "class for class in input.hisoClass"></select>
                                </div>
-->
                                <div class="col-md-2 col-sm-2">
                                    <label>Length</label>
                                    <input type="text" class="form-control" ng-model = "meta.hisoLength" />
                                </div>


                                <div class="col-md-3 col-sm-3">
                                    <label>DataType</label>
                                    <input type="text" disabled = "disabled" class="form-control" ng-model = "meta.hisoDT" />
                                    <!--
                                    <select class="form-control" ng-model="meta.hisoDT"
                                            ng-options = "dt for dt in input.hisoDT"></select>
                                    -->
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label>Layout</label>
                                    <input type="text" class="form-control" ng-model = "meta.hisoLayout" />
                                </div>



                                <div class="col-md-3 col-sm-3">
                                    <label>Unit of Measure</label>
                                    <input type="text" class="form-control" ng-model = "meta.UOM" />
                                </div>

                            </div>

                        </td>
                    </tr>

                    <tr ng-hide = "newItem.type == 'display' ">
                        <td>Code</td>
                        <td>

                            <div class="row">
                                <div class="col-md-3">
                                    <input class="form-control" type="text" ng-model="newItem.tmp.codeCode"
                                           placeholder="Code"/>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" ng-model="newItem.tmp.codeSystem"
                                            ng-options = "system.display for system in input.codeSystems"></select>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" ng-model="newItem.tmp.codeDisplay"
                                           placeholder="Display"/>
                                </div>
                                <div class="col-md-1">
                                    <div class="clickable" ng-click="fillConcept(newItem.tmp.codeCode,newItem.tmp.codeSystem)">Fill</div>
                                </div>
                            </div>

<!--
                            <div><em>If a code is supplied, the item will be extracted as an Observation</em></div>
                            -->
                        </td>
                    </tr>

                    <tr ng-show = "insertType == 'child' && newItem.item.length > 0">
                        <td>Column count</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <input class="form-control" type="text" ng-model="meta.columnCount"
                                           placeholder="Column count"/>
                                </div>
                            </div>


                        </td>
                    </tr>

                    <tr ng-show = "newItem.enableWhen">
                        <td>Conditional</td>
                        <td>
                            <div ng-repeat = "ew in newItem.enableWhen">
                                Conditional on value of <em>{{ew.question}}</em>. Details in conditional tab.
                            </div>

                        </td>
                    </tr>

                    <tr ng-show = "meta.extraction.extractObservation || meta.extraction.notes">
                        <td>Resource extraction</td>
                        <td>
                            <div ng-show="meta.extraction.extractObservation">
                                Will be extracted as an Observation
                            </div>
                            <div ng-show="meta.extraction.notes">
                                <p>
                                    {{meta.extraction.notes}}
                                </p>
                            </div>
                        </td>
                    </tr>


                </table>


            </uib-tab>

            <uib-tab heading = "Notes">
                <br/>
                <strong>Guide for use</strong>
                <textarea class="form-control" ng-model="meta.usageNotes">

                </textarea>

                <strong>Source Standard</strong>
                <textarea class="form-control" ng-model="meta.sourceStandard"> </textarea>

                <strong>Verification rules</strong>

                <div class="row">
                    <div class="col-md-10">
                        <textarea class="form-control" ng-model="meta.verification"> </textarea>
                    </div>
                    <div class="col-md-2">
                        <div class="clickable" ng-click="meta.verification = meta.verification + ' Must be a valid SNOMED-CT code'">SNOMED-CT</div>
                        <div class="clickable" ng-click="meta.verification = meta.verification + ' Should be a date greater than or equal to today'">  > today</div>
                        <div class="clickable" ng-click="meta.verification = meta.verification + ' Should be more than one'">  > 1</div>
                    </div>
                </div>

                <strong>General Notes</strong>
                <textarea class="form-control" ng-model="meta.notes"> </textarea>

            </uib-tab>

            <uib-tab heading = "Mapping">



                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h3>Resource</h3>

                        <checkbox ng-model="meta.extraction.extractObservation"> </checkbox> Represent as Observation
                        <br/><br/>

                        <strong>Resource type</strong>
                        <input class="form-control" ng-model="meta.extraction.type"/>
                        <em class="pull-right">If not Observation</em>
                        <br/><br/>

                        <strong>Path in resource</strong>
                        <input class="form-control" ng-model="meta.extraction.path"/>
                        <br/><br/>

                        <strong>Resource mapping Notes</strong>
                        <textarea class="form-control" ng-model="meta.extraction.notes"> </textarea>

                    </div>

                    <div class="col-md-6 col-sm-6">
                        <br/><br/>
                        <checkbox ng-model="meta.extraction.none"> </checkbox> Not mapped
                        <br/>
                        <em class="pull-right">If not a data item (eg a selector or implicit)</em>
                        <br/><br/>


                        <strong>HL7 Version 2 notes</strong>
                        <textarea class="form-control" ng-model="meta.extraction.v2mapping"></textarea>
                    </div>
                </div>










            </uib-tab>

            <uib-tab ng-show = "newItem.type == 'integer' || newItem.type == 'string'" >
                <uib-tab-heading>Answer options <span class="badge">{{newItem.answerOption.length}}</span> </uib-tab-heading>
                <br/>

                <div class="row ">
                    <div class="col-md-6">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat = "option in newItem.answerOption">
                                <span class="pull-right">

                                     <i class=" clickable glyphicon glyphicon-arrow-up" ng-show="$index > 0"
                                        ng-click = "moveAnswerUp($index)"></i>
                                     <i class=" clickable glyphicon glyphicon-arrow-down"  ng-show="$index < newItem.answerOption.length -1"
                                        ng-click = "moveAnswerDown($index)"></i>

                                    <i class=" clickable glyphicon glyphicon-remove"
                                       ng-click = "removeAnswerOption($index)"></i>

                                </span>

                                {{option.valueInteger}} {{option.valueString}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <checkbox ng-model="input.displayAsRadio"></checkbox> Display as Radio buttons
                    </div>
                </div>


                <div class="row ">
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="input.newAnswerOption"/>
                    </div>
                    <div class="col-md-6">
                        <button class="btn-link btn" ng-click="addOtherAnswerOption(input.newAnswerOption)">Add</button>
                    </div>
                </div>

            </uib-tab>

            <uib-tab ng-show="((newItem.type == 'choice' || newItem.type == 'open-choice') && (! newItem.required))" >
                <uib-tab-heading>Possible values <span class="badge">{{newItem.answerOption.length}}</span> </uib-tab-heading>
                <br/>

                <div ng-hide="newItem.answerOption.length > 0">

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <em>Enter the list of options - 1 per line. When finished, click the
                            link below labelled 'Parse options'. This will create a set of options
                            from the contents of the box - one option for each line.</em>
                            <br/><br/><br/>
                            <button class="btn-link btn" ng-click="parseOptionsText(input.answerOptionsInput)">Parse options</button>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <textarea class="form-control" rows = "6" ng-model="input.answerOptionsInput">

                            </textarea>
                        </div>
                    </div>


                </div>



                <div ng-show="newItem.answerOption.length > 0">

                    <!--
                    <div class="pull-right">
                        <div ng-click = "copyOptionsToClipboard()">Copy to clipboard</div>
                    </div>
                    -->

                    <uib-tabset>
                        <uib-tab heading = "Table">

                            <table class="table table-bordered table-condensed">
                                <tr><th>Display</th><th>Code</th><th>System</th><th></th><th></th><th></th></tr>
                                <tr ng-repeat = "option in newItem.answerOption">
                                    <td>{{option.valueCoding.display}}</td>
                                    <td>{{option.valueCoding.code}}</td>
                                    <td>
                                        {{option.valueCoding.system}}
                                    </td>

                                    <td>
                                        <i class=" clickable glyphicon glyphicon-remove"
                                           ng-click = "removeAnswerOption($index)"></i>
                                    </td>
                                    <td>
                                        <i class=" clickable glyphicon glyphicon-arrow-up" ng-show="$index > 0"
                                           ng-click = "moveAnswerUp($index)"></i>
                                        <i class=" clickable glyphicon glyphicon-arrow-down"  ng-show="$index < newItem.answerOption.length -1"
                                           ng-click = "moveAnswerDown($index)"></i>

                                    </td>
                                    <td>
                                        <div ng-show = "newItem.initial[0].valueCoding.display == option.valueCoding.display">
                                            Is default
                                        </div>

                                        <div class="clickable" ng-hide = "newItem.initial[0].valueCoding.display == option.valueCoding.display"
                                             ng-click="setDefault(option.valueCoding)">Default</div>


                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder="Display" ng-model="input.newAnswerDisplay"/> </td>
                                    <td><input type="text" class="form-control" placeholder="Code" ng-model="input.newAnswerCode"/> </td>
                                    <td>

                                        <select class="form-control" ng-model="input.newAnswerSystem"
                                                ng-options = "system.display for system in input.codeSystems"></select>
                                        <!--
                                        <input type="text" class="form-control" placeholder="System" ng-model="newAnswerSystem"/>
                                    -->
                                    </td>

                                    <td>
                                        <i ng-show="input.newAnswerDisplay"
                                           class="clickable glyphicon glyphicon-plus-sign"
                                           ng-click = "addAnswerOption(input.newAnswerCode,input.newAnswerSystem.url,input.newAnswerDisplay)"></i>
                                    </td>
                                    <td></td>
                                    <td></td>


                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab heading = "List">
                            <textarea class="form-control" rows = "6" ng-model="input.answerOptionsAsText">

                            </textarea>
                        </uib-tab>
                    </uib-tabset>




                </div>

            </uib-tab>

            <uib-tab heading = "Conditional show">
                <table class="table table-bordered">
                    <tr><th>Source (trigger)</th><th>Operator</th><th>Value</th><th></th></tr>
                    <tr ng-repeat="ew in newItem.enableWhen">
                        <td>{{ew.question}}</td>
                        <td>{{ew.operator}}</td>
                        <td>
                            <span ng-show = "ew.answerCoding"> {{ew.answerCoding.display}} ({{ew.answerCoding.code}})</span>
                            <span ng-show = "ew.answerBoolean !== undefined"> {{ew.answerBoolean}}</span>
                            <span ng-show = "ew.answerString">{{ew.answerString}}</span>
                            <span ng-show = "ew.answerInteger !== undefined">{{ew.answerInteger}}</span>
                        </td>
                        <td><i class="btn btn-link glyphicon glyphicon-remove clickable pull-right"
                               ng-click="deleteSourceTrigger($index)"></i>
                        </td>
                    </tr>
                </table>

                <div class="clickable" ng-click="input.addDependency = ! input.addDependency">Add new dependency</div>

                <div class="rounded-box" ng-show="input.addDependency">
                    <div class="row">
                        <div class="col-sm-5">
                            <strong>Source question</strong>
                            <br/>
                            <select ng-model="input.newEwQuestionSection" class="form-control"
                                    ng-change="selectSectionForEW(input.newEwQuestionSection)"
                                    ng-options = "section.text for section in dependencySections"></select>
                            <br/>

                            <!--

                           <select ng-model="input.newEwQuestion" class="form-control"
                                   ng-change = "ewSelected(input.newEwQuestion)"

                                   ng-options = "item.display for item in dependencySources"></select>


                             -->

                            <select ng-model="input.newEwQuestion" class="form-control"
                                    ng-change = "ewSelected(input.newEwQuestion)"
                                    ng-options = "item.display for item in ewOptions"></select>



                            <br/>
                            <em>The question that this one depends on</em>
                        </div>

                        <div class="col-sm-2">
                            <div ng-show = "newEwSelectedSourceItem.type == 'integer'" style="padding-top: 8px">
                                <input type="radio" ng-model="input.conditionalOperator" value="="/> =
                                <div><input type="radio" ng-model="input.conditionalOperator" value=">"/> ></div>
                            </div>

                            <div ng-hide = "newEwSelectedSourceItem.type == 'integer'" style="padding-top: 8px">
                                <div><input type="radio" ng-model="input.conditionalOperator" value="="/> equal </div>
                                <div><input type="radio" ng-model="input.conditionalOperator" value="!="/> not equal </div>
                            </div>
                        </div>

                        <div class="col-sm-3">

                            <div ng-show = "newEwSelectedSourceItem.type == 'choice' || newEwSelectedSourceItem.type == 'open-choice'">
                                <strong>Value to show this item</strong>

                                <select ng-model="input.ewAnswerConcept"  class="form-control"
                                        ng-options = "concept.valueCoding.display for concept in selectedSourceItem.answerOption"></select>

                                <br/>
                                {{selectedSourceItem.type}}
                                <em>The value of the source question that will display this one</em>
                            </div>

                            <div ng-show = "newEwSelectedSourceItem.type == 'string'">
                                <strong>Value to show this item</strong>
                                <br/>
                                <select ng-model="input.ewAnswerString"  class="form-control"
                                        ng-options = "item.valueString for item in selectedSourceItem.answerOption"></select>
                            </div>

                            <div ng-show = "newEwSelectedSourceItem.type == 'integer'">
                                <strong>Value to show this item</strong>
                                <br/>
                                <select ng-model="input.ewAnswerInteger"  class="form-control"
                                        ng-options = "item.valueInteger for item in selectedSourceItem.answerOption"></select>
                            </div>

                            <div ng-show = "newEwSelectedSourceItem.type == 'boolean'">
                                <strong>Value to show this item</strong>
                                <br/><br/>
                                <input type="radio" ng-model="input.ewAnswerBoolean" value="yes"/> True
                                <input type="radio" ng-model="input.ewAnswerBoolean" value="no"/> False
                            </div>


                        </div>
                        <div class="col-sm-2">
                            <div  style="padding-top: 20px">
                                <button class="btn btn-danger pull-right" ng-click="addNewEw()">Add</button>
                            </div>

                        </div>
                    </div>
                </div>

                <em>If there are multiple dependencies, then if any of them are true, the item will show.</em>

            </uib-tab>

            <uib-tab ng-show = "dependantOnThis.length > 0" heading = "Dependant on this">
                <br/>
                <table class="table-bordered table">
                    <tr><th>LinkId</th><th>Text</th><th>Condition</th></tr>
                    <tr ng-repeat = "item in dependantOnThis">
                        <td>{{item.linkId}}</td>
                        <td>{{item.text}}</td>
                        <td><div ng-repeat = "ew in item.enableWhen">
                            <strong>{{ew.operator}}</strong> {{ew.answerCoding}} {{ew.answerBoolean}}
                        </div></td>


                    </tr>
                </table>

                <em>Items that have a show/hide dependency on this one</em>

            </uib-tab>

            <uib-tab ng-show = "false" heading = "Default">
                <em>Set a default value</em>

                <!-- Only for choice ATM-->
                <div ng-show = "newItem.type == 'choice' && newItem.answerOption.length > 0">
                    <table class="table">
                        <tr ng-repeat = "ao in newItem.answerOption">
                            <td>{{ao.valueCoding.display}}</td>
                        </tr>
                    </table>

                </div>



            </uib-tab>

            <uib-tab ng-show = "true" heading = "Json">
                <br/>
                <pre>{{newItem | json}}</pre>
            </uib-tab>

        </uib-tabset>


</div>

    <div class="modal-header">

        {{editType}} {{insertType}}

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!--
                <button class="btn btn-success pull-right"
                        ng-click="save()">

                    <div ng-show="editType == 'edit'">Save changes</div>
                    <div ng-show="editType == 'new'">Add new item</div>
                </button>

                -->
            </div>
        </div>
    </div>
</div>
