
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <style>
        .model-vlg {

        }
    </style>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">{{clone.text}}</h3>

            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right navbar-form" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>

                <button class="btn btn-primary pull-right" ng-click="save()">Save</button>
                <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>


            </div>


        </div>

    </div>
    <div class="modal-body">


        <div class="row">
            <div class="col-md-6">
                <h4>Item code (Observable Entity)</h4>

                <div class="row">
                    <div class="col-md-8">
                        <input autoFocus class='form-control' type="text" ng-model="itemCode"/>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-link" ng-click="selectConcept(itemCode)">Check</button>
                    </div>
                </div>

                <h4>Options</h4>
                <table class="table-bordered table">
                    <tr><th>Text</th><th>SNOMED code</th><th></th></tr>
                    <tr ng-repeat="row in clone.answerOption">
                        <td>{{row.valueCoding.display}}</td>
                        <td> <input type="text" class="form-control" ng-model="row.valueCoding.code"/></td>
                        <td><button class="btn btn-link" ng-click="selectConcept(row.valueCoding.code)">Check</button> </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <div ng-show="selectedCode" class="banner">{{selectedCode}}</div>

                <uib-tabset>
                    <uib-tab heading = "Parameters">
                        <table class="table table-bordered">
                            <tr ng-repeat = "param in selectedConceptLookup.parameter">
                                <td>{{param.name}}</td>
                                <td>
                                    {{param.valueCode}} {{param.valueString}} {{param.valueUri}}
                                    <pre style="width: 450px" ng-show="param.part">{{param.part | json}}</pre>
                                </td>
                            </tr>
                        </table>



                    </uib-tab>




                    <uib-tab heading = "Parents & Children">

                        <h4>Parents</h4>
                        <table class="table-bordered table">
                            <tr ng-repeat="row in parents">
                                <td>{{row.sctId}}</td>
                                <td>{{row.display}}</td>
                            </tr>
                        </table>

                        <h4>Children</h4>
                        <table class="table-bordered table">
                            <tr ng-repeat="row in children">
                                <td>{{row.sctId}}</td>
                                <td>{{row.display}}</td>
                            </tr>
                        </table>



                    </uib-tab>


                    <uib-tab heading = "Json">
                        <pre ng-show="selectedConceptLookup" >{{selectedConceptLookup | json}}</pre>
                    </uib-tab>
                </uib-tabset>


            </div>
        </div>

<!--
        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-6 col-sm-6">
                <div><h4>Item code (Observable Entity)</h4></div>
            </div>
            <div class="col-md-3 col-sm-3 ">
                <input autoFocus class='form-control' type="text" ng-model="itemCode"/>
            </div>
        </div>

        <h4>Options</h4>

        <div class="row">
            <div class="col-md-6">
                <table class="table-bordered table">
                    <tr><th>Text</th><th>SNOMED code</th><th></th></tr>
                    <tr ng-repeat="row in clone.answerOption">
                        <td>{{row.valueCoding.display}}</td>
                        <td> <input type="text" class="form-control" ng-model="row.valueCoding.code"/></td>
                        <td><button class="btn btn-link" ng-click="selectConcept(row.valueCoding.code)">Check</button> </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <div class="banner">{{selectedCode}}</div>
                <pre>{{selectedConceptLookup | json}}</pre>
            </div>
        </div>

        -->

    </div>


    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em></em>


                    <button class="btn btn-link">Generate ValueSet</button>

            </div>
        </div>
    </div>
</div>
