
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <h3 class="modal-title">Import section</h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

                <button class="btn btn-primary pull-right"
                        ng-show="canInsert()"
                        ng-click="save()">Import</button>



            </div>

        </div>

    </div>
    <div class="modal-body">


        <br/>
        <div class="row">
            <div class="col-sm-3">
                Existing Q
            </div>
            <div class="col-sm-9">
                <select ng-model="input.libQ" class="form-control"
                        ng-change = "selectExistingQ(input.libQ)"
                        ng-options="q.name for q in allQ"></select>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <div class="list-group">
                    <div class="list-group-item"
                        ng-repeat="item in eQ.item">

                        <checkbox ng-model="input.section[item.linkId]"
                            ng-change = "checkSection(item.linkId,input.section[item.linkId])">

                        </checkbox>  {{item.text}}

                        <span>
                            <i class="glyphicon glyphicon-info-sign pull-right"
                               ng-click = "showSection(item.linkId)" />
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div ng-show="selectedSection" class="banner">{{selectedSection.linkId}}</div>
                <div class="list-group">
                    <div class="list-group-item"
                         ng-repeat="item in selectedSection.item">
                        {{item.text}}

                    </div>
                </div>

                <ul>

                </ul>

            </div>
        </div>












</div>

    <div class="modal-header">

        <div class="row">

            <div class="col-md-6 col-sm-6">

            </div>
            <div class="col-md-6 col-sm-6">

            </div>
        </div>
    </div>
</div>
