<div>
  <!--<div ng-controller="newResourceCtrl">-->
  <style>
    .model-vlg {

    }
  </style>
  <div class="modal-header">

    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">{{group.text}}</h3>
      </div>

      <div class="col-md-4 col-sm-4">

        <button class="btn btn-primary pull-right" ng-click="close()">Save</button>
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>


      </div>


    </div>

  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-4">
        <strong>Test result</strong>

        <select size = "10" ng-model="input.firstList" class="form-control"
                ng-options="item.display for item in input.firstListOptions"></select>
      </div>

      <div class="col-md-4" ng-show = "input.firstList.code == 'notperformed'">
        <strong>Reason not performed</strong>

        <select size = "5" ng-model="input.notperformed" class="form-control"
                ng-options="item.display for item in input.reasonsNotPerformed"></select>

        <br/>

        <input ng-model="input.notperformedOther" type="text" class="form-control"
               placeholder="Other reason not performed"
               ng-show="input.notperformed.code == 'other'"/>
      </div>

      <div class="col-md-4" ng-show = "input.firstList.code == 'inconclusive'">
        <strong>Reason inconclusive</strong>

        <select size = "5" ng-model="input.inconclusive" class="form-control"
                ng-options="item.display for item in input.reasonsInconclusive"></select>

        <br/>

        <input ng-model="input.inconclusiveOther" type="text" class="form-control"
               placeholder="Other reason inconclusive"
               ng-show="input.inconclusive.code == 'other'"/>
      </div>

      <div class="col-md-4" ng-show = "input.firstList.code == 'failed'">
        <strong>Reason failed</strong>

        <select size = "5" ng-model="input.failed" class="form-control"
                ng-options="item.display for item in input.reasonsFailed"></select>

        <br/>

        <input ng-model="input.failedOther" type="text" class="form-control"
               placeholder="Other reason failed"
               ng-show="input.failed.code == 'other'"/>
      </div>

      <div class="col-md-4">
        <strong>Additional components</strong>
        <br/> <br/>

        <strong>Guidelines</strong>

        <select class="form-control" ng-model="input.guideline"
                ng-options = "concept.display for concept in input.guidelines">
          <option value=""></option>
        </select>
        <br/>

        <div ng-repeat = "vo in input.additionalItems">

          <strong>{{vo.item.text}}</strong>

          <span ng-show = "vo.meta.description">
              <i class="glyphicon glyphicon-info-sign"
                 uib-popover="{{vo.meta.description}}"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"></i>
          </span>

          <div ng-show="vo.item.type == 'string' || vo.item.type == 'integer' || vo.item.type == 'decimal'">
            <input style="padding-left: 8px" class="form-control" type="text" ng-model="input.additionalValue[vo.item.linkId]"/>
          </div>

          <div ng-show="vo.item.type == 'choice'">
            <select class="form-control" ng-model="input.additionalValue[vo.item.linkId]"
                    ng-options = "concept.valueCoding.display for concept in vo.item.answerOption">
              <option value=""></option>

            </select>
          </div>

          <div ng-show="vo.item.type == 'date' || vo.item.type == 'dateTime'">
            <input class="form-control" type="datetime-local" ng-model="input.additionalValue[vo.item.linkId]">
          </div>

          </div>

        </div>


      </div>
    <br/>
    <div class="row">
      <div class="col-md-8">
        <textarea class="form-control" placeholder="Comments" ng-model="input.comment"></textarea>
      </div>
    </div>

</div>

  <div class="modal-header">
    <em>Displays all the parts of a single Ancillary test in a user friendly UI</em>
  </div>

</div>