<div>
  <style>
    #medTimeline {
      width: 100%;

    }
  </style>

  <div class="row">
    <div class="col-md-12">
      <div id="medTimeline"></div>

    </div>


    <div ng-show="false" class="col-md-0">

      <div class="pull-right" ng-show="selectedTimeLineItem.resource">
        {{selectedTimeLineItem.resource.resourceType}}:
        <a target="_blank" ng-href="{{fhirSpecRoot}}{{selectedTimeLineItem.resource.resourceType}}.html"> Specification </a>
        <a ng-show="urlToProfile" target="_blank" ng-href="{{urlToProfile}}"> Profile </a>
      </div>

      <uib-tabset>
        <uib-tab heading ="Resource">
          <div class="resourceScroll">
            <pre ng-show="selectedTimeLineItem.resource">{{selectedTimeLineItem.resource | json}}</pre>
          </div>

        </uib-tab>
        <uib-tab heading ="Validation">
          <button class="btn btn-link pull-right" ng-click="validateFromTimeline(selectedTimeLineItem.resource)">Validate</button>

          <div class="clearfix"></div>

          <div class="resourceScroll">
            <pre ng-show="timelineValidationResults">{{timelineValidationResults | json}}</pre>
          </div>
        </uib-tab>
      </uib-tabset>







      <!--
                          <uib-tabset ng-show = "selectedTimeLineItem.resource" >
                              <uib-tab>
                                  <uib-tab-heading>
                                      <div ng-show = "selectedTimeLineItem.MA">Med Admin</div>
                                      <div ng-show = "selectedTimeLineItem.rx">Med Request</div>
                                      <div ng-show = "selectedTimeLineItem.obs">Observation</div>

                                  </uib-tab-heading>



                                  <br/>
                                  <strong>
                                      {{selectedTimeLineItem.MA.medicationCodeableConcept.text}}
                                      {{selectedTimeLineItem.rx.medicationCodeableConcept.text}}
                                      {{selectedTimeLineItem.obs.code.text}}
                                  </strong>

                                  {{selectedTimeLineItem.MA.dosage.text}} {{selectedTimeLineItem.MA.dosage.route.text}}

                                  <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                      {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                  </div>

                                  <br/> <br/>

                                  <div ng-show="selectedTimeLineItem.observations.count > 0">
                                      <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                          {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                      </div>
                                      <br/>
                                  </div>



                                  <pre ng-show="selectedTimeLineItem.rx">{{selectedTimeLineItem.rx | json}}</pre>


                                  <pre ng-show="selectedTimeLineItem.MA">{{selectedTimeLineItem.MA | json}}</pre>

                                  <pre ng-show="selectedTimeLineItem.obs">{{selectedTimeLineItem.obs | json}}</pre>

                              </uib-tab>



                              <uib-tab ng-show = "false && selectedTimeLineItem.observations.length > 0">

                                  <uib-tab-heading>
                                      Observations <span class="badge">{{selectedTimeLineItem.observations.length}}</span>
                                  </uib-tab-heading>


                                  <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                      {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                  </div>
                                  <br/>




                                  <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                      <pre>{{obs | json}}</pre>
                                  </div>

                              </uib-tab>

                              <uib-tab heading = "Validate">
                                  <button class="btn btn-link pull-right" ng-click="validate(selectedTimeLineItem.resource)">Validate</button>


                              </uib-tab>

                              <uib-tab heading="Item Json">
                                  <pre>{{selectedTimeLineItem | json}}</pre>
                              </uib-tab>
                          </uib-tabset>

                          -->

    </div>



  </div>



</div>