<div>

    <div class="row">
        <!-- maybe remove this when debugging done-->

        <div class="col-md-3">
            <div class="row">


                <div class="list-group">
                    <div ng-class = "{'list-group-item':true,'listItemSelected' : selectedSR.id == entry.resource.id}"
                         style="cursor: pointer"
                         ng-click = "selectSR(entry.resource)"
                         ng-repeat = "entry in serviceRequestsBundle.entry">


                        <div class="pull-right">{{entry.resource.authoredOn | date}}</div>
                        {{entry.resource.requester.display}} <!-- ({{entry.resource.id}}) -->
                        <div><em>{{entry.resource.reasonCode[0].text}}</em></div>
                    </div>
                </div>

                <button class="btn btn-link" ng-click="refresh()">Refresh</button>

            </div>

        </div>

        <div class="col-md-9">

            <div class="rounded-box-filled"><div style="text-align: center">{{selectedQ.name}}</div> </div>
            <div class="row">


                <div class="col-md-5">
                   <!-- <div ng-controller="dispositionCtrl"> -->

                        <strong>Comments</strong>
                        <div ng-repeat="r in selectedReview.reviews">

                            <div class="rounded-box">
                                <div><strong>{{r.text}}</strong></div>
                                <div>{{r.answer[0].valueString}}</div>


                                <div ng-show="r.disposition">
                                    <table class="table">
                                        <tr><td>Disposition</td><td>{{r.disposition.disposition}}</td></tr>
                                        <tr><td>Entered by</td><td>{{r.disposition.reviewer}}</td></tr>
                                        <tr><td>Date</td><td>{{r.disposition.authored}}</td></tr>
                                        <tr><td>Note</td><td>{{r.disposition.note}}</td></tr>
                                    </table>
                                </div>

                                <div ng-hide="r.disposition">
                                    <button class="btn btn-link pull-right"
                                            ng-click="addDisposition(selectedQR,r)">Add disposition</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <br/>

                  <!--  </div> -->



                    <br/>

                    <div class="row" ng-show="selectedSR">
                        <div class="col-md-12">
                            <button ng-show="selectedQR" ng-click="markSRComplete(selectedSR)"
                                    class=" btn btn-link">Mark as review completed</button>
                        </div>
                    </div>
                    <br/>
                    <!--
                    This will actually remove the QR - eg if profanity or PI in it
                    <div class="row" ng-show="selectedSR">
                        <div class="col-md-12">
                            <button ng-show="selectedQR" ng-click="deleteForm(selectedSR)"
                                    class="btn btn-danger">Remove form</button>
                        </div>
                    </div>
-->

                </div>

                <div class="col-md-7">
                <div ng-show = "selectedQR">
                    <br/>
                    <uib-tabset>
                        <uib-tab heading="Form">
                            <div class="myScroll">
                                <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
                            </div>


                        </uib-tab>

                        <uib-tab ng-show="arReviewRestrictions.length > 0" heading="Restrictions">
                            <div ng-repeat="lne in arReviewRestrictions">
                                {{lne}}
                            </div>
                        </uib-tab>

                        <uib-tab heading="All comments for this Q">

                            <table class="table table-bordered table-condensed">
                                <tr><th>Comment</th><th>Disposition</th><th>Note</th><th>Author</th></tr>
                                <tr ng-repeat="disp in dispositionsForQ">
                                    <td>{{disp.comment}}</td>
                                    <td>{{disp.disposition.display}}</td>
                                    <td>{{disp.note}}</td>
                                    <td>{{disp.author}}</td>
                                </tr>
                            </table>


                        </uib-tab>

                        <uib-tab heading="QR Json">
                            <pre>{{selectedQR | json}}</pre>
                        </uib-tab>
                    </uib-tabset>



                </div>

            </div>
            </div>
        </div>



    </div>



</div>