<div>


    <div ng-repeat="section in selectedQ.item">
        <div class="row">
            <div class="col-md-4">
                {{section.text}}
            </div>
        </div>

        <div ng-repeat="child in section.item">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    {{child.text}} <span ng-hide="$index == 0" ng-click="moveUp()"> Up</span>
                </div>
            </div>

            <div ng-repeat="grandChild in child.item">
                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        {{grandChild.text}}
                    </div>
                    <div class="col-md-4"></div>
                </div>

            </div>


        </div>

    </div>


</div>