<div>
    <!-- Assume in dashBoard controller-->


    <br/>
    <div class="row">
        <div class="col-md-6">


            <div class="row">
                <div class="col-md-2">
                    Name
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"  disabled = 'disabled' ng-model="selectedQ.name"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    Version
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"  ng-change="input.dirty = true" ng-model="selectedQ.version"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    Title
                </div>
                <div class="col-md-9">
                   <textarea class="form-control" ng-model="selectedQ.title"
                             ng-change="input.dirty = true">

                   </textarea>

                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    Description
                </div>
                <div class="col-md-9">
                       <textarea class="form-control" ng-model="selectedQ.description"
                                 ng-change="input.dirty = true">
                       </textarea>

                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    Folders
                </div>
                <div class="col-md-9">
                    <!--
                    <table class="table table-bordered">
                        <tr><th>Code (folder)</th><th>Display</th><th></th></tr>
                        <tr ng-repeat = "tag in selectedQ.meta.tag" ng-show="tag.system == tagFolderSystem && ! tag.userSelected">
                            <td>{{tag.code}}</td>

                            <td>{{tag.display}}</td>
                            <td><i class=" clickable glyphicon glyphicon-remove"
                                   ng-show="user.email && miniQ.checkedoutTo == 'me'"
                                   ng-click = "removeTag($index)"></i></td>
                        </tr>
                        <tr ng-show="user.email && miniQ.checkedoutTo == 'me'">
                            <td><input class="form-control" type="text" ng-model="input.newTagCode"/></td>
                            <td><input class="form-control" type="text" placeholder="Optional" ng-model="input.newTagDisplay"/></td>
                            <td><i class=" clickable glyphicon glyphicon-plus-sign"

                                   ng-click = "addTag(input.newTagCode,tagFolderSystem,input.newTagDisplay)"></i></td>
                        </tr>
                    </table>
                    -->
                    <table class="table table-bordered">
                        <tr><th>Code (folder)</th><th></th></tr>

                        <tr ng-repeat = "(k,v) in miniQ.hashFolderTag"
                            ng-show = "k !== 'all'">
                            <td>{{k}}</td>

                            <td><i class="clickable glyphicon glyphicon-remove"
                                   ng-show="user.email && miniQ.checkedoutTo == 'me'"
                                   ng-click = "removeTag(k)"></i></td>
                        </tr>
                        <tr ng-show="user.email && miniQ.checkedoutTo == 'me'">
                            <td><input class="form-control" type="text" ng-model="input.newTagCode"/></td>

                            <td><i class=" clickable glyphicon glyphicon-plus-sign"

                                   ng-click = "addTag(input.newTagCode)"></i></td>
                        </tr>
                    </table>

                </div>
            </div>


        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-3">
                    Last updated
                </div>
                <div class="col-md-9">
                    <input class="form-control"
                           value="{{selectedQ.meta.lastUpdated | date : 'MMM dd  HH:mm'}} (Version:{{selectedQ.meta.versionId}})"/>

                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    Q Status
                </div>
                <div class="col-md-9">
                    <select class="form-control" ng-model="selectedQ.status"
                            ng-change="input.dirty = true"
                            ng-options="status for status in qStatus">
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    HISO Status
                </div>
                <div class="col-md-9">

                    <select class="form-control" ng-model="input.hisoStatus"
                            ng-change="input.dirty = true"
                            ng-options="status for status in arHisoStatus">
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    HISO number
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"  ng-change="input.dirty = true"  ng-model="input.hisoNumber"/>
                </div>
            </div>



            <div class="row">

                <div class="col-md-3">
                    Id
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled = 'disabled' ng-model="selectedQ.id"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Url
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"  disabled = 'disabled' ng-model="selectedQ.url"/>
                </div>
            </div>


            <div ng-show="false" class="row">
                <div class="col-md-3">
                    Authors
                </div>
                <div class="col-md-9">

                    <table class="table table-bordered">
                        <tr><th>Email</th><th>Name</th><th></th></tr>

                        <tr ng-repeat = "tag in selectedQ.meta.tag" ng-show="tag.system == tagAuthorSystem">
                            <td>{{tag.code}}</td>
                            <!--<td>{{tag.system}}</td> todo maybe as a popover-->
                            <td>{{tag.display}}</td>
                            <td><i class=" clickable glyphicon glyphicon-remove"
                                   ng-click = "removeTag($index)"></i></td>
                        </tr>

                        <tr>
                            <td><input class="form-control" type="text" ng-model="input.newTagCode"/></td>
                            <td><input class="form-control" type="text" placeholder="Optional" ng-model="input.newTagDisplay"/></td>
                            <td><i class=" clickable glyphicon glyphicon-plus-sign"
                                   ng-click = "addTag(input.newTagCode,tagAuthorSystem,input.newTagDisplay)"></i></td>
                        </tr>
                    </table>



                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-1">
            Attachments
        </div>
        <div class="col-md-10">
            <table class="table table-bordered">
                <tr ng-repeat="att in allAttachments">
                    <td>{{att.title}}</td>
                    <td>{{att.url}}</td>

                    <td><i class=" clickable glyphicon glyphicon-remove"
                           ng-click = "removeAttachment(att.url)"></i></td>

                </tr>
                <tr  ng-show="user.email && miniQ.checkedoutTo == 'me'">
                    <td>
                        <input type="text" ng-model="input.newAttachmentTitle"
                               placeholder="Description of attachment"
                               class="form-control"/>
                    </td>
                    <td>
                        <input type="text" ng-model="input.newAttachmentUrl"
                               placeholder="Url of attachment"
                               class="form-control"/>
                    </td>
                    <td><i class=" clickable glyphicon glyphicon-plus-sign"
                           ng-click = "addAttachment(input.newAttachmentTitle,input.newAttachmentUrl)"></i></td>

                </tr>
            </table>
        </div>
    </div>

    <div class="row"  ng-show="user.email && miniQ.checkedoutTo == 'me'">
        <div class="col-md-1">
            Upload
        </div>
        <div class="col-md-3">
            <input type="file" id="fileUploadFileRef" accept="application/pdf" />
        </div>
        <!--
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="input.uploadDescription" placeholder="Description"/>
        </div>
        -->
        <div class="col-md-3">
            <button class="btn btn-link" ng-click="uploadDocument()">Publish and attach</button>
        </div>
    </div>





</div>