<div>
    <style>
        .bottom-border {
            border-style: outset;
            border-color: #f8f8f8;
            border-width: 1px;
        }
        .label {
            cursor: pointer;
            border: 1px solid #cccccc;
            border-radius: 5px;
            padding: 5px 15px;
            margin: 5px;
            color: black;
            background: #dddddd;
            display: inline-block;
        }
        .warning {
            color: red;
        }
    </style>

    <uib-tabset>
        <uib-tab heading = "Overview">
            <br/>
            <div class="row">
                <div class="col-md-2">
                    <strong>linkId</strong>
                </div>
                <div class="col-md-3">
                    <strong>Text / <em>Description</em></strong>
                </div>
                <div class="col-md-2">
                    <strong>Q code</strong>
                </div>
                <div class="col-md-1">
                    <strong>Type</strong>
                </div>
                <div class="col-md-1">
                    <strong>Card.</strong>
                </div>

                <div class="col-md-3">
                    <strong>Conditional / Usage notes / Source</strong>
                </div>

            </div>

            <div class="myScroll">
                <div ng-repeat="section in report.section">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>{{section.item.text}}</h4>
                        </div>
                        <div class="col-md-1">

                            {{section.item | cardinality}}
<!--
                            <div ng-show="section.item.repeats">
                                Yes
                            </div>
                            -->
                        </div>
                        <div class="col-md-3">
                            <div ng-repeat="ew in section.item.enableWhen">
                                C: {{ew.question}} = {{ew.answerCoding.code}}
                            </div>

                            <div>{{child.meta.usageNotes}}</div>
                            <div ng-show = "section.meta.sourceStandard">S: {{child.meta.sourceStandard}}</div>
                        </div>
                    </div>

                    <div ng-repeat = "child in section.children">

                        <div ng-show = "true || child.type == 'single'">

                            <div class="row bottom-border" >
                                <div class="col-md-2">
                                    <div class="clickable" ng-click="editItemFromReport(child)">
                                        {{child.item.linkId}}
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    {{child.item.text}}
                                    <div><em>{{child.meta.description}}</em></div>
                                </div>

                                <div class="col-md-2">

                                    <div ng-repeat="code in child.item.code">
                                        {{code.code}}

                                    </div>
                                </div>
                                <div class="col-md-1">
                                    {{child.item.type}}
                                </div>
                                <div class="col-md-1">

                                    {{child.item | cardinality}}

                                </div>

                                <div class="col-md-3">
                                    <div ng-repeat="ew in child.item.enableWhen">
                                        C: {{ew.question}} =
                                        <span ng-show = "ew.answerCoding"> {{ew.answerCoding.code}} ({{ew.answerCoding.display}})</span>
                                        <span ng-show = "ew.answerBoolean !== undefined"> {{ew.answerBoolean}}</span>
                                        <span ng-show = "ew.answerString">{{ew.answerString}}</span>

                                    </div>

                                    <div>{{child.meta.usageNotes}}</div>
                                    <div ng-show = "child.meta.sourceStandard">S: {{child.meta.sourceStandard}}</div>
                                </div>

                            </div>


                        </div>

                        <div ng-show = "true || child.type == 'group'">

                            <div ng-repeat = "grandchild in child.children">
                                <div class="row bottom-border">
                                    <div class="col-md-2">
                                        <div class="clickable"
                                             style = "padding-left: 8px"
                                             ng-click="editItemFromReport(grandchild)">
                                            {{grandchild.item.linkId}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        {{grandchild.item.text}}
                                        <div><em>{{grandchild.meta.description}}</em></div>
                                    </div>
                                    <div class="col-md-2">

                                        <div ng-repeat="code in grandchild.item.code">
                                            {{code.code}}

                                        </div>


                                    </div>
                                    <div class="col-md-1">
                                        {{grandchild.item.type}}
                                    </div>

                                    <div class="col-md-1">
                                        {{grandchild.item | cardinality}}
                                    </div>



                                    <div class="col-md-3">
                                        <div>{{grandchild.meta.usageNotes}}</div>
                                        <div ng-repeat="ew in grandchild.item.enableWhen">
                                            C: {{ew.question}} = {{ew.answerCoding.code}}
                                        </div>
                                        <div ng-show = "grandchild.meta.sourceStandard">S: {{grandchild.meta.sourceStandard}}</div>


                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>

                </div>
            </div>





        </uib-tab>

        <uib-tab heading = "Coded items">
            <div ng-controller="termIOCtrl">
                <br/>

                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="clickable pull-right" ng-click="fullQExport()">Export whole Q to tsv</div>
                    </div>
                    <!--
                    <div class="col-md-2">
                        <div class="pull-right">Import from tsv:</div>
                    </div>
                    <div class="col-md-3">
                        <span><input type="file" id="termUploadFileQ" /></span>
                    </div>
                    <div class="col-md-1">
                        <span class="clickable" ng-click="termUploadQ(coded.item)">Upload</span>
                    </div>
                    -->

                </div>

                <table class="table table-bordered table-condensed">
                    <tr><th>Section</th><th>Item linkId</th><th>Text</th><th>Type</th><th>Options</th><th>Details</th><th>Actions</th></tr>
                    <tr ng-repeat="coded in report.coded">
                        <td>{{coded.section.text}}</td>
                        <td>
                            <div class="clickable" ng-click="editItemFromReport(coded)">
                                {{coded.item.linkId}}
                            </div>

                        </td>

                        <td>{{coded.item.text}}</td>
                        <td>{{coded.item.type}}</td>

                        <td>
                            <div ng-show="coded.item.answerValueSet">ValueSet</div>
                            <div ng-show="coded.item.answerOption">Enumerated</div>
                        </td>
                        <td>

                            <div ng-repeat = "(k,v) in coded.options">
                                <div><em>{{k}}</em></div>
                                <div ng-repeat="ans in v">
                                    <div style="padding-left: 8px">
                                        {{ans.code}} <em>{{ans.display}}</em>
                                    </div>

                                </div>
                            </div>


                            <div class = 'clickable' ng-click="viewVS(coded.item.answerValueSet)">
                                {{coded.item.answerValueSet}}</div>



                        </td>

                        <td style="width:10%">
                            <div ng-show="coded.item.answerOption">
                                <div class="clickable" ng-click="termExport(coded.item)">Export to tsv</div>

<!--
                                <input type="file" id="termUploadFile{{coded.item.linkId}}" />
-->
                                <div class="clickable" ng-click="termImport(coded.item)">Import from tsv</div>

                              <!--  <div class="clickable" ng-click="termUpload(coded.item)">Upload</div>

-->

<!--
                                <div class="clickable" ng-click="termEdit()">Edit directly</div>
                                <div class="clickable" ng-click="termConvert()">Convert to VS</div>
                                -->
                            </div>
                        </td>


                    </tr>
                </table>


                <hr/>


            </div>


        </uib-tab>

        <!-- data duplicate of coding tab-->
        <uib-tab ng-show="false" heading = "Terminology">
            <br/>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th width="20%">
                        linkId</th>
                    <th>
                        <div class="row">
                            <div class="col-md-2">
                                Code
                            </div>
                            <div class="col-md-6">
                                System
                            </div>
                            <div class="col-md-4">
                                Display
                            </div>
                        </div>
                    </th>
                </tr>
                <tr  ng-repeat="coded in report.coded">
                    <td width="20%">
                        <div>{{coded.item.text}}</div>
                        <div class="clickable" ng-click="editItemFromReport(coded)">
                            LinkId: {{coded.item.linkId}}
                        </div>
                        <div ng-show="coded.item.code">Q Code: {{coded.item.code[0].code}}</div>
                    </td>
                    <td>
                        <div ng-repeat = "option in coded.item.answerOption">
                            <div class="row bottom-border">
                                <div class="col-md-2">
                                    {{option.valueCoding.code}}
                                </div>
                                <div class="col-md-6">
                                    {{option.valueCoding.system}}
                                </div>
                                <div class="col-md-4">
                                    {{option.valueCoding.display}}
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
            </table>
        </uib-tab>




        <uib-tab heading = "Conditionals by target">
            <br/>
            <em>These are the items whose visibility depends on another</em>
            <br/>
            <table class="table table-bordered table-condensed">
                <tr><th>linkId of target item</th><th>Text</th><th>Type</th><th>Source trigger</th></tr>
                <tr ng-repeat="conditional in report.conditional">
                    <td>
                        <div class="clickable" ng-click="editItemFromReport(conditional)">
                            {{conditional.item.linkId}}
                        </div>

                    </td>
                    <td>{{conditional.item.text}}</td>
                    <td>{{conditional.item.type}}</td>
                    <td>

                        <div ng-repeat="ew in conditional.item.enableWhen">
                            <span class="clickable" ng-click="editItemFromReport(hashAllItems[ew.question])">
                                {{ew.question}}
                            </span> =

                            <span ng-show = "ew.answerCoding"> {{ew.answerCoding.code}} ({{ew.answerCoding.display}})</span>
                            <span ng-show = "ew.answerBoolean !== undefined"> {{ew.answerBoolean}}</span>
                            <span ng-show = "ew.answerString">{{ew.answerString}}</span>


                            <span class="warning" ng-hide="hashAllItems[ew.question]">
                                 Warning! this item is not in the Q
                                </span>

                        </div>

                    </td>



                </tr>
            </table>


        </uib-tab>

        <uib-tab heading = "Conditionals by source">
            <br/>
            <em>These are the items that control the visibility of another</em>
            <br/>
            <table class="table table-condensed table-bordered">
                <tr><th>Source Item</th><th>Type</th><th>
                    <div class="row">
                        <div class="col-md-4">
                            Items dependant on this source
                        </div>
                        <div class="col-md-4">
                            Conditional value
                        </div>
                    </div>


                </th></tr>

                <tr ng-repeat = "(k,v) in hashAllItems"
                    ng-show="v.dependencies.length > 0">
                    <td>
                        <span class="clickable" ng-click="editItemFromReport(hashAllItems[k])">
                              {{k}}
                        </span>

                    </td>
                    <td>{{hashAllItems[k].item.type}}</td>
                    <td>
                        <div ng-repeat="entry in v.dependencies">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="clickable" ng-click="editItemFromReport(entry)">
                                    {{entry.item.linkId}} ({{entry.item.text}})
                                </span>
                                </div>
                                <div class="col-md-4">


                                    <span ng-show = "entry.ew.answerCoding"> {{entry.ew.answerCoding.code}} ({{entry.ew.answerCoding.display}})</span>
                                    <span ng-show = "entry.ew.answerBoolean !== undefined"> {{entry.ew.answerBoolean}}</span>
                                    <span ng-show = "entry.ew.answerString">{{entry.ew.answerString}}</span>




                                </div>
                                <div class="col-md-4">


                                </div>
                            </div>





                        </div>

                    </td>
                </tr>
            </table>

        </uib-tab>

        <uib-tab heading = "Resource extraction">
            <br/>
            <div class="row">
                <div class="col-md-2">
                    <strong>linkId</strong>
                </div>
                <div class="col-md-3">
                    <strong>Text</strong>
                </div>
                <div class="col-md-2">
                    <strong>Q Code</strong>
                </div>
                <div class="col-md-1">
                    <strong>Observation extraction</strong>
                </div>
                <div class="col-md-4">
                    <strong>Notes - Extraction & Usage</strong>
                </div>
            </div>

            <div class="myScroll">
                <div ng-repeat="section in report.section">

                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{section.item.text}}</h4>
                        </div>
                        <div class="col-md-2">
                            <div ng-show="section.item.repeats">
                                Yes
                            </div>
                        </div>
                        <div class="col-nd-4">
                            <div ng-repeat="ew in section.item.enableWhen">
                                C: {{ew.question}} = {{ew.answerCoding.code}}
                            </div>


                            <div>{{section.meta.extraction.notes}}</div>
                            <div>{{section.meta.extraction.usage}}</div>

                        </div>
                    </div>

                    <div ng-repeat = "child in section.children">
                        <div ng-show = "child.type == 'single'">
                            <div class="row bottom-border">
                                <div class="col-md-2">
                                    <div class="clickable" ng-click="editItemFromReport(child)">
                                        {{child.item.linkId}}
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    {{child.item.text}}
                                </div>
                                <div class="col-md-2">

                                    <div ng-repeat="code in child.item.code">
                                        {{code.code}}
                                        <!-- todo - popover for system <div>{{code.system}}</div>-->
                                    </div>

                                </div>
                                <div class="col-md-1">
                                    <div ng-show="child.meta.extraction.extractObservation">
                                        Yes
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {{child.meta.extraction.notes}}
                                    {{child.meta.usageNotes}}
                                </div>

                            </div>


                        </div>

                        <div ng-show = "child.type == 'group'">

                            <div ng-repeat = "grandchild in child.children">
                                <div class="row bottom-border">
                                    <div class="col-md-2">
                                        <div class="clickable" ng-click="editItemFromReport(grandchild)">
                                            {{grandchild.item.linkId}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        {{grandchild.item.text}}
                                    </div>
                                    <div class="col-md-2">

                                        <div ng-repeat="code in grandchild.item.code">
                                            {{code.code}}

                                        </div>

                                    </div>
                                    <div class="col-md-1">
                                        <div ng-show="grandchild.meta.extraction.extractObservation">
                                            Yes
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        {{grandchild.meta.extraction.notes}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--
            <div ng-repeat="section in report.section">
                <h4>{{section.item.text}}</h4>

                <div ng-repeat = "child in section.children" ng-show="child.meta.extraction">

                    {{child.meta}}


                </div>
            </div>
            -->

        </uib-tab>


        <uib-tab heading = "References">
            <br/>
            <table class="table table-bordered table-condensed">
                <tr><th>linkId</th><th>Text</th><th>Resource Type/s</th></tr>
                <tr ng-repeat="reference in report.reference">
                    <td>

                        <div class="clickable" ng-click="editItemFromReport(reference)">
                            {{reference.item.linkId}}
                        </div>




                    </td>
                    <td>{{reference.item.text}}</td>
                    <td>
                        <div ng-repeat="type in reference.resourceTypes">
                            {{type}}
                        </div>
                    </td>
                </tr>
            </table>

        </uib-tab>



        <uib-tab ng-show="false" heading = "Textual">
        </uib-tab>


    </uib-tabset>



</div>