

<div class="row">
    <div class="col-md-3">
        Sections
        <div class="list-group">
            <div ng-class="{'list-group-item':true,'listItemSelected':selectedSection.linkId==section.linkId}"
                 ng-click = "selectSection(section)"
                 style="cursor: pointer"
                 ng-repeat="section in formTemplate">

                 {{section.text}}


                <span class = "badge pull-right" ng-show="section.item.repeats"> Mult</span>



            </div>
        </div>
    </div>

    <div class="col-md-9">



        <div ng-repeat="row in selectedSection.rows track by $index">

            <strong>{{row.text}}</strong>

            <div class="row">



                <!-- 2 columns -->
                <div ng-if = "row.meta.columnCount == 2 || ! row.meta.columnCount">
                    <div class="col-md-6">
                        <div ng-repeat="cell in row.col1 track by $index">
                            <div style="margin-bottom: 8px">
                                <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div ng-repeat="cell in row.col2 track by $index">
                            <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                        </div>
                    </div>
                </div>

                <!-- 3 columns -->
                <div ng-if = "row.meta.columnCount == 3">
                    <div class="col-md-4">
                        <div ng-repeat="cell in row.col1  track by $index">
                            <div style="margin-bottom: 8px">
                                <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div ng-repeat="cell in row.col2 track by $index">
                            <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div ng-repeat="cell in row.col3 track by $index">
                            <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                        </div>
                    </div>
                </div>

                <!-- 4 columns -->
                <div ng-if = "row.meta.columnCount == 4">
                    <div class="col-md-3">
                        <div ng-repeat="cell in row.col1 track by $index">
                            <div style="margin-bottom: 8px">
                                <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div ng-repeat="cell in row.col2 track by $index">
                            <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div ng-repeat="cell in row.col3 track by $index">
                            <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div ng-repeat="cell in row.col4 track by $index">
                            <ng-include src = "'includes/renderSingleItem.html'"></ng-include>
                        </div>
                    </div>
                </div>

            </div>

            <hr style="margin: 2px"/>

        </div>


    </div>
</div>
