<div>
    <style>
        .bottom-border {
            border-style: outset;
            border-color: #f8f8f8;
            border-width: 1px;
        }
    </style>

    <uib-tabset>
        <uib-tab heading = "Overview">
            <div class="row">
                <div class="col-md-2">
                    <strong>linkId</strong>
                </div>
                <div class="col-md-3">
                    <strong>Text</strong>
                </div>
                <div class="col-md-2">
                    <strong>Q code</strong>
                </div>
                <div class="col-md-1">
                    <strong>Type</strong>
                </div>
                <div class="col-md-1">
                    <strong>Card.</strong>
                </div>

                <div class="col-md-3">
                    <strong>Conditional / Usage notes / Source</strong>
                </div>

            </div>

            <div class="myScroll">
                <div ng-repeat="section in report.section">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>{{section.item.text}}</h4>
                        </div>
                        <div class="col-md-1">

                            {{section.item | cardinality}}
<!--
                            <div ng-show="section.item.repeats">
                                Yes
                            </div>
                            -->
                        </div>
                        <div class="col-md-3">
                            <div ng-repeat="ew in section.item.enableWhen">
                                C: {{ew.question}} = {{ew.answerCoding.code}}
                            </div>

                            <div>{{child.meta.usageNotes}}</div>
                            <div ng-show = "section.meta.sourceStandard">S: {{child.meta.sourceStandard}}</div>
                        </div>
                    </div>

                    <div ng-repeat = "child in section.children">

                        <div ng-show = "true || child.type == 'single'">

                            <div class="row bottom-border" >
                                <div class="col-md-2">
                                    <div class="clickable" ng-click="editItemFromReport(child)">
                                        {{child.item.linkId}}
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    {{child.item.text}}
                                </div>
                                <div class="col-md-2">

                                    <div ng-repeat="code in child.item.code">
                                        {{code.code}}

                                    </div>


                                </div>
                                <div class="col-md-1">
                                    {{child.item.type}}
                                </div>
                                <div class="col-md-1">

                                    {{child.item | cardinality}}


                                </div>




                                <div class="col-md-3">
                                    <div ng-repeat="ew in child.item.enableWhen">
                                        C: {{ew.question}} = {{ew.answerCoding.code}}
                                    </div>

                                    <div>{{child.meta.usageNotes}}</div>
                                    <div ng-show = "child.meta.sourceStandard">S: {{child.meta.sourceStandard}}</div>
                                </div>

                            </div>


                        </div>

                        <div ng-show = "true || child.type == 'group'">

                            <div ng-repeat = "grandchild in child.children">
                                <div class="row bottom-border">
                                    <div class="col-md-2">
                                        <div class="clickable"
                                             style = "padding-left: 8px"
                                             ng-click="editItemFromReport(grandchild)">
                                            {{grandchild.item.linkId}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        {{grandchild.item.text}}
                                    </div>
                                    <div class="col-md-2">

                                        <div ng-repeat="code in grandchild.item.code">
                                            {{code.code}}

                                        </div>


                                    </div>
                                    <div class="col-md-1">
                                        {{grandchild.item.type}}
                                    </div>

                                    <div class="col-md-1">
                                        {{grandchild.item | cardinality}}
                                    </div>



                                    <div class="col-md-3">
                                        <div>{{grandchild.meta.usageNotes}}</div>
                                        <div ng-repeat="ew in grandchild.item.enableWhen">
                                            C: {{ew.question}} = {{ew.answerCoding.code}}
                                        </div>
                                        <div ng-show = "grandchild.meta.sourceStandard">S: {{grandchild.meta.sourceStandard}}</div>


                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>

                </div>
            </div>





        </uib-tab>

        <uib-tab heading = "Terminology">
            <br/>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th width="20%">
                        linkId</th>
                    <th>
                        <div class="row">
                            <div class="col-md-2">
                                Code
                            </div>
                            <div class="col-md-6">
                                System
                            </div>
                            <div class="col-md-4">
                                Display
                            </div>
                        </div>
                    </th>
                </tr>
                <tr  ng-repeat="coded in report.coded">
                    <td width="20%">
                        <div>{{coded.item.text}}</div>
                        <div class="clickable" ng-click="editItemFromReport(coded)">
                            LinkId: {{coded.item.linkId}}
                        </div>
                        <div ng-show="coded.item.code">Q Code: {{coded.item.code[0].code}}</div>
                    </td>
                    <td>
                        <div ng-repeat = "option in coded.item.answerOption">
                            <div class="row bottom-border">
                                <div class="col-md-2">
                                    {{option.valueCoding.code}}
                                </div>
                                <div class="col-md-6">
                                    {{option.valueCoding.system}}
                                </div>
                                <div class="col-md-4">
                                    {{option.valueCoding.display}}
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
            </table>
        </uib-tab>


        <uib-tab heading = "Resource extraction">

            <div class="row">
                <div class="col-md-2">
                    <strong>linkId</strong>
                </div>
                <div class="col-md-3">
                    <strong>Text</strong>
                </div>
                <div class="col-md-2">
                    <strong>Q Code</strong>
                </div>
                <div class="col-md-1">
                    <strong>Observation extraction</strong>
                </div>
                <div class="col-md-4">
                    <strong>Notes - Extraction & Usage</strong>
                </div>
            </div>

            <div class="myScroll">
                <div ng-repeat="section in report.section">

                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{section.item.text}}</h4>
                        </div>
                        <div class="col-md-2">
                            <div ng-show="section.item.repeats">
                                Yes
                            </div>
                        </div>
                        <div class="col-nd-4">
                            <div ng-repeat="ew in section.item.enableWhen">
                                C: {{ew.question}} = {{ew.answerCoding.code}}
                            </div>


                            <div>{{section.meta.extraction.notes}}</div>
                            <div>{{section.meta.extraction.usage}}</div>

                        </div>
                    </div>

                    <div ng-repeat = "child in section.children">
                        <div ng-show = "child.type == 'single'">
                            <div class="row bottom-border">
                                <div class="col-md-2">
                                    <div class="clickable" ng-click="editItemFromReport(child)">
                                        {{child.item.linkId}}
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    {{child.item.text}}
                                </div>
                                <div class="col-md-2">

                                    <div ng-repeat="code in child.item.code">
                                        {{code.code}}
                                        <!-- todo - popover for system <div>{{code.system}}</div>-->
                                    </div>

                                </div>
                                <div class="col-md-1">
                                    <div ng-show="child.meta.extraction.extractObservation">
                                        Yes
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {{child.meta.extraction.notes}}
                                    {{child.meta.usageNotes}}
                                </div>

                            </div>


                        </div>

                        <div ng-show = "child.type == 'group'">

                            <div ng-repeat = "grandchild in child.children">
                                <div class="row bottom-border">
                                    <div class="col-md-2">
                                        <div class="clickable" ng-click="editItemFromReport(grandchild)">
                                            {{grandchild.item.linkId}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        {{grandchild.item.text}}
                                    </div>
                                    <div class="col-md-2">

                                        <div ng-repeat="code in grandchild.item.code">
                                            {{code.code}}

                                        </div>

                                    </div>
                                    <div class="col-md-1">
                                        <div ng-show="grandchild.meta.extraction.extractObservation">
                                            Yes
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        {{grandchild.meta.extraction.notes}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--
            <div ng-repeat="section in report.section">
                <h4>{{section.item.text}}</h4>

                <div ng-repeat = "child in section.children" ng-show="child.meta.extraction">

                    {{child.meta}}


                </div>
            </div>
            -->

        </uib-tab>

        <uib-tab heading = "Coded items">
            <br/>
            <table class="table table-bordered table-condensed">
                <tr><th>Section</th><th>Item linkId</th><th>Text</th><th>Type</th><th>Options</th><th>Details</th></tr>
                <tr ng-repeat="coded in report.coded">
                    <td>{{coded.section.text}}</td>
                    <td>
                        <div class="clickable" ng-click="editItemFromReport(coded)">
                            {{coded.item.linkId}}
                        </div>

                    </td>

                    <td>{{coded.item.text}}</td>
                    <td>{{coded.item.type}}</td>

                    <td>
                        <div ng-show="coded.item.answerValueSet">Valueset</div>
                        <div ng-show="coded.item.answerOption">Enumerated</div>
                    </td>
                    <td>

                        <div ng-repeat = "(k,v) in coded.options">
                            <div><em>{{k}}</em></div>
                            <div ng-repeat="ans in v">
                                <div style="padding-left: 8px">
                                    {{ans.code}} <em>{{ans.display}}</em>
                                </div>

                            </div>
                        </div>

                        {{coded.item.answerValueSet}}

                    </td>


                </tr>
            </table>

        </uib-tab>
        <uib-tab heading = "Conditionals by item">
            <br/>
            <table class="table table-bordered table-condensed">
                <tr><th>linkId of conditional item</th><th>Text</th><th>Type</th><th>Dependency</th></tr>
                <tr ng-repeat="conditional in report.conditional">
                    <td>
                        <div class="clickable" ng-click="editItemFromReport(conditional)">
                            {{conditional.item.linkId}}
                        </div>

                    </td>
                    <td>{{conditional.item.text}}</td>
                    <td>{{conditional.item.type}}</td>
                    <td>
                        <div ng-repeat="ew in conditional.item.enableWhen">
                            <span class="clickable" ng-click="editItemFromReport(hashAllItems[ew.question])">
                                {{ew.question}}
                            </span> = {{ew.answerCoding.code}}


                        </div>
                    </td>

                </tr>
            </table>


        </uib-tab>

        <uib-tab heading = "Conditionals by source">

            <table class="table table-condensed table-bordered">
                <tr><th>Source Item</th><th>
                    <div class="row">
                        <div class="col-md-4">
                            Items dependant on the source
                        </div>
                        <div class="col-md-4">
                            Conditional value
                        </div>
                    </div>


                </th></tr>
                <tr ng-repeat = "(k,v) in hashAllItems"
                    ng-show="v.dependencies.length > 0">
                    <td>
                        <span class="clickable" ng-click="editItemFromReport(hashAllItems[k])">
                              {{k}}
                        </span>

                    </td>
                    <td>
                        <div ng-repeat="entry in v.dependencies">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="clickable" ng-click="editItemFromReport(entry)">
                                    {{entry.item.linkId}} ( {{entry.item.text}})
                                </span>
                                </div>
                                <div class="col-md-4">
                                    {{entry.ew.answerCoding.code}}
                                </div>
                                <div class="col-md-4">


                                </div>
                            </div>





                        </div>

                    </td>
                </tr>
            </table>

        </uib-tab>


        <uib-tab heading = "Reference">
            <table class="table table-bordered table-condensed">
                <tr><th>linkId</th><th>Text</th><th>Resource Type/s</th></tr>
                <tr ng-repeat="reference in report.reference">
                    <td>

                        <div class="clickable" ng-click="editItemFromReport(reference)">
                            {{reference.item.linkId}}
                        </div>




                    </td>
                    <td>{{reference.item.text}}</td>
                    <td>
                        <div ng-repeat="type in reference.resourceTypes">
                            {{type}}
                        </div>
                    </td>
                </tr>
            </table>

        </uib-tab>



        <uib-tab heading = "Textual">
        </uib-tab>


    </uib-tabset>



</div>