<div>



        <div>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,listItemSelected:selectedVSEntry == value}"
                             ng-click="selectVSEntry(value,key)"
                             style="cursor: pointer"
                             ng-repeat="(key,value) in hashTerminology">
                            {{key}}
                        </div>
                    </div>

                    <button class="btn btn-link" ng-click="newVS()">New VS</button>

                </div>
                <div class="col-md-9">

                    <uib-tabset>
                        <uib-tab heading="Where used">
                            <table class="table table-bordered">
                                <tr><th>Q / Section</th><th>Item</th></tr>
                                <tr ng-repeat="entry in selectedVSEntry">
                                    <td>
                                        {{entry.Q.name}}
                                        <div>{{entry.section.text}}</div>

                                    </td>
                                    <td><pre>{{entry.item | json}}</pre></td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab heading="Expand VS Contents">

                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Expansion</h4>
                                </div>
                                <div class="col-md-8">

                                    <div class="clickable pull-right" ng-click="viewVS(selectedVSUrl)">
                                        Edit {{selectedVSUrl}}</div>

                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" placeholder="Enter filter text" class="form-control" ng-model="input.filter"/>
                                </div>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" ng-model="input.expandCount"
                                           placeholder="Count"/>

                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-link" ng-click="expandVS(selectedVSUrl,input.filter)">Expand</button>
                                </div>

                                <div class="col-md-3">
                                    <div class="pull-right" ng-show="expandedVs.expansion.total">
                                        Total count:{{expandedVs.expansion.total}}
                                    </div>
                                </div>



                            </div>

                            <br/>
                            <uib-tabset ng-show="expandedVs">
                                <uib-tab heading="List">
                                    <table class="table table-bordered table-condensed">
                                        <tr ng-repeat="concept in expandedVs.expansion.contains">
                                            <td>{{concept.code}}</td>
                                            <td>{{concept.display}}</td>
                                            <td>{{concept.system}}</td>
                                        </tr>
                                    </table>

                                </uib-tab>
                                <uib-tab heading="Json">
                                    <pre>{{expandedVs | json}}</pre>
                                </uib-tab>


                            </uib-tabset>



                        </uib-tab>
                        <uib-tab heading="Edit contents">

                            <br/>
<!--
                            <ng-include src = "'includes/terminology.html'"></ng-include>
-->

                            <!--
                            <table class="table table-bordered table-condensed">
                                <tr><th>Display</th><th>Code</th><th>System</th></tr>
                                <tr ng-repeat = "option in selectedValueSet.compose.include">
                                    <td>{{option.valueCoding.display}}</td>
                                    <td>{{option.valueCoding.code}}</td>
                                    <td>
                                        {{option.valueCoding.system}}
                                    </td>

                                    <td>
                                        <i class=" clickable glyphicon glyphicon-remove"
                                           ng-click = "removeOption($index)"></i>
                                    </td>
                                    <td>
                                        <i class=" clickable glyphicon glyphicon-arrow-up" ng-show="$index > 0"
                                           ng-click = "moveAnswerUp($index)"></i>
                                        <i class=" clickable glyphicon glyphicon-arrow-down"  ng-show="$index < selectedValueSet.compose.include.length -1"
                                           ng-click = "moveAnswerDown($index)"></i>

                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder="Display" ng-model="input.newAnswerDisplay"/> </td>
                                    <td><input type="text" class="form-control" placeholder="Code" ng-model="input.newAnswerCode"/> </td>
                                    <td>

                                        <select class="form-control" ng-model="input.newAnswerSystem"
                                                ng-options = "system.display for system in input.codeSystems"></select>


                                    </td>

                                    <td>
                                        <i ng-show="input.newAnswerCode && input.newAnswerDisplay"
                                           class="clickable glyphicon glyphicon-plus-sign"
                                           ng-click = "addOption(input.newAnswerCode,input.newAnswerSystem.url,input.newAnswerDisplay)"></i>


                                </tr>
                            </table>


                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" ng-click="save()">Save</button>
                                </div>
                            </div>
                            <pre>{{selectedValueSet | json}}</pre>
                            -->
                        </uib-tab>
                    </uib-tabset>




                </div>
            </div>

        </div>





</div>