<!-- todo - create directive to display QR-->

<div>

    <div ng-repeat="section in qr.item">
        <strong>{{section.text}}</strong>

        <div ng-repeat = "child in section.item">
            <div ng-hide = "child.item.length > 0"  >    <!-- This is an item - it has no items itself-->

                <div class="row" ng-show="child.answer.length > 0">

                    <div ng-hide="input.hiddenFields[child.linkId]">

                        <div ng-if="child.answer[0].valueAttachment">
                            <div class="col-md-12">
                                <div style="text-align: center">
                                    <canvas  id="drawing-{{child.linkId}}" height="200px" width="200px"></canvas>
                                </div>
                            </div>

                        </div>

                        <div ng-if="! child.answer[0].valueAttachment" style="border-bottom: 1px solid lightgray">
                            <div class="col-md-6" >
                                {{child.text}}
                            </div>

                            <div class="col-md-6" >
                                <div ng-repeat = "ans in child.answer">
                                    {{ans.valueString}}
                                    {{ans.valueCoding.display}}
                                    {{ans.valueDecimal}}
                                    {{ans.valueDate}}
                                    {{ans.valueDateTime}}
                                    {{ans.valueBoolean}}
                                    {{ans.valueInteger}}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div ng-show = "child.item">    <!-- this is a group - it has child items itself-->
                <em  uib-popover="{{child.linkId}}"
                     popover-placement="right"
                     popover-trigger="'mouseenter'">{{child.text}}</em>

                <div ng-repeat = "gc in child.item">
                    <div class="row" ng-show="gc.answer.length > 0">
                        <div ng-hide="input.hiddenFields[gc.linkId]">

                        <div class="col-md-6" >
                            <div style="padding-left: 8px"  uib-popover="{{gc.linkId}}"
                                 popover-placement="right"
                                 popover-trigger="'mouseenter'">{{gc.text}}</div>
                        </div>
                        <div class="col-md-6">
                            <div ng-repeat = "ans in gc.answer">
                                {{ans.valueString}}
                                {{ans.valueCoding.display}}
                                {{ans.valueDecimal}}
                                {{ans.valueDate}}
                                {{ans.valueDateTime}}
                                {{ans.valueBoolean}}
                                {{ans.valueInteger}}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>
        <br/>
    </div>
    <div ng-show="qr"><em>Template: {{qr.questionnaire}}</em></div>
</div>